<div class="rump-modal" [class.animateIn]="animateIn">
  <div class="rump-modal-content">

    <div class="rump-modal-body white-modal-body">
      <div class="close-modal" (click)="hideUI()"><i class="material-icons">close</i></div>
      <img src="assets/icons/upload-icon.svg"><h3>Upload files</h3>
      <input class="filePickerBtn" type="file" (change)="selectFile($event)">

      <div class="actions">
        <button type="button" class="btn" (click)="hideUI()">Cancel</button>
        <button type="button" class="btn accept" (click)="startUpload()" [disabled]="!selectedFile">Upload</button>
      </div>
    </div>

  </div>
</div>

<div class="modal-overlay" [class.fadein]="animateIn" (click)="hideUI()"></div>
