<div class="rump-modal">
  <div class="rump-modal-content">
    <div class="rump-modal-header">
      <h3>Are you sure?</h3>
    </div>
    <div class="rump-modal-body">
      <p>{{message}}</p>
    </div>
    <div class="rump-modal-footer">
      <button type="button" class="btn" (click)="closeModal(); reject()">Cancel</button>
      <button type="button" class="btn accept" (click)="closeModal(); accept()">Proceed</button>
    </div>

    <div class="close-modal" (click)="closeModal()">x</div>
  </div>
</div>

<div class="modal-overlay" id="modal-overlay"></div>
