<div class="row vertical-align">
  <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2 copyright">
    &copy; HATDeX Ltd.
  </div>
  <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
    <h4>About</h4>
    <ul>
      <li><a [routerLink]="['about']">About Rumpel</a></li>
      <li><a href="http://hubofallthings.com/">About the HAT</a></li>
      <li><a href="http://www.hatdex.org/about/">About HATDeX</a></li>
    </ul>
  </div>

  <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
    <h4>Legal</h4>
    <ul>
      <li><a href="http://www.hatdex.org/terms-of-service-rumpel/">Terms of Service</a></li>
      <li><a href="http://www.hatdex.org/privacy-policy-rumpel/">Privacy Policy</a></li>
      <li><a href="http://www.hatdex.org/acceptable-use-policy/">Acceptable Use Policy</a></li>
      <li><a href="http://www.hatdex.org/legal/">Other Policies and Agreements</a></li>
    </ul>
  </div>
</div>
