<div class="she-feed">
  <nav class="nav">
    <a (click)="currentPage = 'feed'" [class.current]="currentPage == 'feed'">Feed</a>
  </nav>

  <div class="feed">
    <div class="feed-items">
      <div *ngFor="let item of feed$ | async" class="item">
        <div class="flex-basis">
          <div *ngIf="item.data.content.media">
            <img *ngFor="let mediaItem of item.data.content.media" [src]="mediaItem.url" onerror="this.style.display='none'">
          </div>

          <div>
            <!--<span class="meta heading" *ngIf="item.data.content && item.data">{{ item.data.source }}</span>-->
            <!--<a *ngIf="item.data.title" [href]="item.data" target="_blank">{{ item.data.content }}</a>-->
            <p *ngIf="item.data.title">{{ item.data.title.text }}</p>
            <p class="meta heading">{{ item.data.content.text }}</p>
          </div>
        </div>

        <div class="flex-basis start">
          <span class="meta"><strong>Source</strong>{{ item.data.source }}</span>
          <span class="meta"><strong>Created time</strong>{{ item.data.date.iso | moment:'ddd DD MMM YYYY, h:mm a' }}</span>
          <span *ngIf="item.data.location && item.data.location.geo" class="meta"><strong>Longitude</strong> {{ item.data.location.geo.longitude }}</span>
          <span *ngIf="item.data.location && item.data.location.geo" class="meta"><strong>Latitude</strong> {{ item.data.location.geo.latitude }}</span>
          <span *ngIf="item.data.location && item.data.location.tags" class="meta"><strong>Tags</strong> {{ item.data.location.tags.join(', ') }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
