@import '../../../style/branding';

.hmi-rating-section {
  text-align: center;
  max-width: 500px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;
  padding-left: 21px;
  padding-right: 21px;

  @media (min-width: 501px) {
    width: 500px;
  }

  @media (max-width: 500px) {
    width: 100%;
  }

  .hmi-rating-section-heading {
    color: $app-dark-tone;
    font-size: 18px;
    font-weight: bold;
  }

  .hmi-rating-section-text {
    margin-top: 10px;
    color: $hat-body-text;
    font-size: 13px;
    line-height: 1.38;
    font-style: italic;
  }

  .hmi-rating-section-text-link {
    font-weight: bold;
    font-style: normal;
    color: $app-accent-color;
  }

  .app-logo-wrapper {
    display: inline-block;
    background-color: white;
    padding: 6px;
    border-radius: 50%;
    margin: auto;
    margin-top: 18px;

    .app-logo {
      border-radius: 50%;
    }
  }

  .app-rating-wrapper {
    position: relative;
    margin-top: -20px;
    background-color: white;
    padding: 6px;
    border-radius: 4px;

    &:before {
      content: " ";
      position: absolute;
      top: -10px;
      left: 5px;
      border: solid transparent;
      border-width: 5px 35px;
      border-bottom-color: white;
      border-radius: 4px;
    }

    .app-rating {
      position: relative;
      background-color: #dfc586;
      font-size: 12px;
      color: white;
      text-align: center;
      width: 70px;
      padding: 2px 0;

      &:before {
        content: " ";
        position: absolute;
        top: -10px;
        left: 0;
        border: solid transparent;
        border-width: 5px 35px;
        border-bottom-color: #dfc586;
      }

      &-highlighted {
        font-weight: bold;
      }

      &-italicized {
        font-style: italic;
      }
    }
  }

}
