.tile-header {
  position: absolute;
  padding: 0.5em 0.5em;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;

  div {
    display: inline;
    margin-right: 0.25em;
    margin-left: 0.25em;
    font-family: 'Open Sans Regular', sans-serif;
  }
}

.info-button {
  background-color: transparent;
  border: none;
  float: right;
  color: #ffffff;
}

.tile-body {
  overflow: hidden;
}