<div class="row input-box">
  <div class="col-xs-2 col-md-3">
    <ng-content></ng-content>
  </div>

  <div class="col-xs-10 col-md-9">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" *ngIf="active">
      <div class="form-group small-notable">
        <label for="message" class="hidden">New Notable</label>
        <div class="input-area">
          <textarea ngModel type="text" id="message" name="message"
                aria-describedby="message" placeholder="What's going on?"
                [class.expanded]="inputExpanded"
                (focus)="expandView($event)"></textarea>
          <div class="arrow-down" *ngIf="expanded"></div>
          <rump-switch class="privacy-toggle"
                       [isChecked]="shared"
                       (onSwitch)="togglePrivacy()"
                       *ngIf="expanded"></rump-switch>
        </div>
      </div>

      <div class="form-group options-bar" *ngIf="expanded">
        <button type="button" class="btn btn-options"
                [class.on]="reportLocation"
                (click)="toggleLocation()">
          <span class="ss-location ss-glyphish-filled"></span>
        </button>
        <button type="button" class="btn btn-options"
                *ngIf="shared">
          <span class="ss-calendar ss-glyphish-filled"></span>
        </button>
        <button type="submit" class="btn btn-status" name="post-status">
          {{shared ? 'Share Notable' : 'Log Privately'}}
        </button>
      </div>
    </form>
  </div>
</div>
