<ng-content></ng-content>

<div class="scroll-mask" id="intro-step21">
  <div class="tile-body">
    <ul>
      <li *ngFor="let debit of debits">
        <a [routerLink]="['/dataDebit', debit.key, 'confirm']">
          <div class="row vertical-align">
            <div class="col-xs-2">
              <span class="ss-puzzle"></span>
            </div>
            <div class="col-xs-9">
              <h4>{{debit.bundleContextless.name}}</h4>
              <p>Kind: {{debit.kind}}</p>
              <p>End date: {{debit.endDate | moment}}</p>
            </div>
            <div class="col-xs-1">
              <span class="ss-right"></span>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
