<rum-graphic-page-header title="Browse offers"
                         headline="We’ve not got any offers available at the moment. See your accepted offers to check their statuses."
                         matIcon="local_activity">
</rum-graphic-page-header>

<div class="offers">
  <mat-tab-group class="app-details-tab-group">
    <mat-tab label="Available ({{offers.length}})">
      <rum-offers [offers]="offers" [acceptedOffers]="acceptedOffers" [noOffersMessage]="noOffers"></rum-offers>
    </mat-tab>

    <mat-tab label="Accepted ({{acceptedOffers.length}})">
      <rum-offers-accepted [offers]="offers" [acceptedOffers]="acceptedOffers" [noOffersMessage]="noAcceptedOffers"></rum-offers-accepted>
    </mat-tab>
  </mat-tab-group>
</div>
