<div class="tile-header" [style.background-color]="backColor" (click)="navigateTo(title.toLowerCase(), $event)" style="cursor: pointer">
  <span class="tile-logo ss-{{iconName}}"></span>
  <div class="tile-title">{{title}}</div>
  <a role="button" tabindex="0" data-toggle="popover" data-container="body"
     [attr.data-content]="info" class="info-button"
     data-trigger="focus"
     (click)="showPopover($event)"
     data-placement="auto left"><span class="tile-expand ss-info"></span></a>
</div>
