.tile-header {
  padding: 0.4em 0.5em;
  width: 100%;
  text-transform: uppercase;
  font-size: 2em;

  div {
    display: inline;
    margin-right: 0.25em;
    margin-left: 0.25em;
  }
}

.info-button {
  background-color: transparent;
  border: none;
  float: right;
  color: #ffffff;
}