<div class="grid" data-packery='{ "itemSelector": ".grid-item" }'>
  <rump-tile-profile class="grid-item grid-item--width3 grid-item--height1">
    <rump-tile-header [title]="'Profile'" [iconName]="'user'"></rump-tile-header>
  </rump-tile-profile>

  <rump-tile-generic class="grid-item grid-item--width3 grid-item--height1"
                     [data]="events">
    <rump-tile-header [title]="'Calendar'" [iconName]="'calendar'"></rump-tile-header>
  </rump-tile-generic>

  <rump-tile-data-offers class="grid-item grid-item--width6 grid-item--height1">
    <rump-tile-header [title]="'Data Offers'" [iconName]="'piggybank'"></rump-tile-header>
  </rump-tile-data-offers>

  <rump-tile-social class="grid-item grid-item--width3 grid-item--height2"
                    [feed]="socialFeed">
    <rump-tile-header [title]="'Social'" [iconName]="'replyall'"></rump-tile-header>
  </rump-tile-social>

  <rump-tile-map class="grid-item grid-item--width6 grid-item--height1"
                 [title]="'Map'" [iconName]="'merge'">
  </rump-tile-map>

  <rump-tile-weather class="grid-item grid-item--width3 grid-item--height1">
    <rump-tile-header [title]="'Weather'" [iconName]="'thermometer'"></rump-tile-header>
  </rump-tile-weather>

  <rump-tile-data-plugs class="grid-item grid-item--width3 grid-item--height1">
    <rump-tile-header [title]="'Data Plugs'" [iconName]="'merge'"></rump-tile-header>
  </rump-tile-data-plugs>



  <div class="grid-item grid-item--width3"></div>
  <div class="grid-item grid-item--width3"></div>
</div>
