.grid-item {
  float: left;
  padding: 0;
  margin: 0;
  background-color: #262626;
  color: #ffffff;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .col-lg-1-5 {
    width: 12.5%;
  }
}

.grid-item-height-1 {
  height: 25em;
}

.grid-item-height-2 {
  height: 50em;
}

.grid-item-height-3 {
  height: 75em;
}

.grid-item-height-4 {
  height: 100em;
}