.grid-item {
  float: left;
  padding: 0;
  margin: 0;
  background-color: #262626;
  color: #ffffff;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .col-lg-1-5 {
    width: 12.5%;
  }
}

.grid-item-height-1 {
  height: 25em;
}

.grid-item-height-2 {
  height: 50em;
}

.grid-item-height-3 {
  height: 75em;
}

.grid-item-height-4 {
  height: 100em;
}

.filter {
  background-color: rgba(0, 0, 0, 0.45);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 6000;
  color: #ffffff;
  text-align: center;

  span {
    display: block;
    margin-top: 1.5em;
    font-size: 5em;
  }

  h2 {
    margin-top: 0;
    font-size: 3em;
  }

  p {
    font-size: 1.5em;
    text-transform: uppercase;
  }
}

.modal {
  font-family: 'Open Sans Condensed', sans-serif;
  z-index: 7000;

  h4 {
    font-size: 3em;
  }

  p {
    font-size: 2em;
  }

  button {
    font-size: 1.5em;
  }

  .btn-primary {
    background-color: #018675;
  }
}