.grid-item {
  float: left;
  padding: 0;
  margin: 0;
  background-color: #262626;
  color: #ffffff;
  overflow: hidden;
}

.grid-item-height-1 {
  height: 25em;
}

.grid-item-height-2 {
  height: 50em;
}

.grid-item-height-3 {
  height: 75em;
}

.grid-item-height-4 {
  height: 100em;
}