<mat-card [class.expandable]="expandable">
  <h5 class="app-details-heading">{{title}}</h5>
  <mat-list class="app-static-data-list">
    <ng-container *ngFor="let rowData of listData">
      <mat-list-item *ngFor="let prop of rowData" class="app-static-data-list-item">
        <span class="app-static-data-list-key">{{ prop[0] | replaceCamelCase | replaceChars }}</span>
        <span class="flex-spacer"></span>
        <div class="app-static-data-list-value" [innerHTML]="prop[1] | safeHtml:true"></div>
      </mat-list-item>
    </ng-container>
  </mat-list>
</mat-card>
