<div class="row">
  <div class="col-md-12">
    <div class="offer">
      <div class="offer-title">
        <h2 class="text-center">Ultimate Amazon Delivery</h2>
        <div class="offer-reward text-center">
          Amazon voucher: 5gpb
        </div>
        <div class="offer-description text-center">Offer description goes here</div>
      </div>
      <div class="offer-dialog text-center">
        <button class="btn btn-rump btn-accept">Accept Offer</button>
        <button class="btn btn-rump">Decline Offer</button>
      </div>
      <div class="alert-message text-center">
        <span class="icon-alert ss-alert"></span>
        You're almost there, you need to retrieve one or more data sources to qualify for this offer.
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 debit-review">
        <div class="panel panel-rump">
          <div class="panel-heading">Facebook</div>
          <div class="panel-body">
            <ul>
              <li class="data-debit-unit">
                <span class="table">Events</span><span class="field">id</span>Facebook event ID.
              </li>
              <li class="data-debit-unit">
                <span class="table">Events</span><span class="field">Start Time</span>Event starting time.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 offer-terms">
        <div class="panel panel-rump">
          <div class="panel-heading">Terms of Offer</div>
          <div class="panel-body">
            <h3>£5 voucher to spend at amazon.co.uk</h3>
            <h5>Description</h5>
            <p>The best offer you can get</p>
            <h5>Expiration</h5>
            <p>It will expire very soon!</p>
            <h5>Data required</h5>
            <p>Lorem ipsum</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
