<ng-content></ng-content>

<div class="scroll-mask" id="intro-step17">
  <div class="tile-body">
    <ul>
      <li *ngFor="let post of posts" (click)="navigateToFullPost(post.id)">
        <div class="row vertical-align">
          <div class="col-xs-2 left-column">
            <img src="assets/icons/facebook-icon.png" class="img img-responsive">
          </div>

          <div class="col-xs-9 center-column" *ngIf="post.type !== 'music.listens'">
            <h4>{{post.story ? post.story : post.statusType | replaceChars}}</h4>
            <p *ngIf="post.type === 'status' || post.type === 'photo'">{{post.content.message | limitContent:140}}</p>
            <p>Posted {{post.createdTime | moment}}</p>
          </div>

          <div class="col-xs-9 center-column" *ngIf="post.type === 'music.listens'">
            <h4>Music Listen</h4>
            <p>Played {{post.data.song.title}}
              <span *ngIf="post.data.musician">by {{post.data.musician.title}}</span>
              <span *ngIf="post.data.playlist">from the {{post.data.playlist.title}} playlist</span>.
            </p>
            <p>On {{post.createdTime | moment}}</p>
          </div>

          <div class="col-xs-1 right-column">
            <span class="item-expand ss-right"></span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
