<div class="navbar smaller">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['']"><img src="assets/icons/rumpel-titled-beta.svg" class="img img-responsive"></a>
    </div>

    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!!hatDomain" class="user-nav" style="text-transform: lowercase;">
          <a href="https://{{hatDomain}}/profile" target="_blank">{{hatDomain}}</a>
        </li>
        <li *ngIf="!!hatDomain" (click)="signOut()" class="user-nav" style="cursor: pointer;"><p>Sign Out</p></li>
        <li *ngIf="!!hatDomain" class="user-nav hidden-xs"><p style="cursor: pointer;" (click)="startIntro()">New to Rumpel</p></li>
        <li class="user-nav hidden-xs hidden-sm"><a [href]="msLink ? msLink : 'https://marketsquare.hubofallthings.com'"
               target="_blank" style="cursor: pointer;">MarketSquare</a></li>
        <li class="user-nav hidden-xs" style="cursor: pointer;" (click)="msg = 'whoCanSee'; showModal()"><p>Who Can See This?</p></li>
      </ul>
    </div>
  </div>
</div>
