<div class="flex-basis">
  <div>
    <p *ngIf="item.data.title && !item.data.link">{{ item.data.title }}</p>
    <a *ngIf="item.data.title && item.data.link" target="_blank" [href]="item.data.link">{{ item.data.title }}</a>
    <span *ngIf="item.data.description" class="meta heading">{{ item.data.description }}</span>
    <p *ngIf="item.data.start"><strong>Start: </strong>{{ item.data.start | moment:'ddd DD MMM YYYY, h:mm a' }}</p>
    <p *ngIf="item.data.end"><strong>End: </strong>{{ item.data.end | moment:'ddd DD MMM YYYY, h:mm a' }}</p>
    <p *ngIf="item.data.allDay"><strong>All day: </strong>{{ item.data.allDay }}</p>
    <p *ngIf="item.data.location"><strong>Location: </strong><a (click)="showMapModal(item.data.location)">{{ item.data.location.longitude }}, {{ item.data.location.latitude }}</a></p>
    <p *ngIf="item.data.organiser"><strong>Organiser: </strong>{{ item.data.organiser }}</p>
    <p *ngIf="item.data.attendees"><strong>Attendees: </strong>{{ item.data.attendees }}</p>

  </div>
</div>

<div class="flex-basis start">
  <span *ngIf="item.data.calendarName" class="meta"><strong>Calendar name</strong> {{ item.data.calendarName }}</span>
  <span *ngIf="item.data.id" class="meta"><strong>ID</strong> {{ item.data.id }}</span>
</div>
