 @import "../../style/branding";


p {
  text-align: right;
}

.filePickerBtn {
  color: $app-dark-tone;
  background-color: #eee;
  padding: 20px;
  margin-right: 20px;
  outline: none;
  box-shadow: none;
  border: 2px dashed $app-dark-tone;
  border-radius: 8px;
  width: 100%;
}
