.intro {
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: 1.6em;
}

.highlight-box {
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: center;
  background-color: #ffffff;
  border: 3px dotted #c7c7c7;

  p {
    margin: 1.5em 1em;
    font-size: 2em;
  }
}

.section {
  margin-top: 2em;

  h3 {
    font-size: 2em;
    text-transform: uppercase;
  }
}

p {
  font-size: 1.5em;
}