<div class="row">
  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
    <section class="intro">
      <p>Rumpel&trade; is a hyper data browser for your HAT data (<a href="http://www.hatdex.org/what-is-the-hat/" target="_blank">What is the HAT</a>). No one else can use Rumpel&trade; to view your HAT data except yourself, as the HAT owner. It is compatible with all computer Operating Systems and it excludes all third parties, advertisements and ‘hard selling’. It is also being made available as <a href="https://github.com/Hub-of-all-Things/rumpel" target="_blank">an open source programme</a>.
    </section>

    <section class="section">
      <h3>Acquire Data</h3>
      <p>Using Rumpel&trade;, you can pull in data about yourself from the Internet - Facebook, calendar, photos, just to name a few - into your HAT and view it. We work hard to help you pull more of your data in but if you are a coder, or a company that is HAT ready (<a href="https://github.com/Hub-of-all-Things/HAT/blob/master/Become-HAT-Ready.md" target="_blank">how to be HAT-ready</a>), you can register a data plug yourself (<a href="https://marketsquare.hubofallthings.com/signup/shopper" target="_blank">here</a>) and help the community with more data plugs so that we can acquire more of our data into our own HATs.</p>
    </section>

    <section class="section">
      <h3>Add Data</h3>
      <p>You can also add data about yourself - your profile, for example, so that you can share it again and again without typing in information online (only for services that are HAT ready).</p>
    </section>

    <section class="section">
      <h3>Add Content</h3>
      <p>You can also add content to your HAT, for example, the music you compose or the art you create, and exchange this with others and be paid for it (available 2017). Every HAT user has a personal HAT address (PHATA) - so you can even bring in your website, blogposts and really start customizing your HAT both publicly (in terms of what should be seen on your public facing PHATA-page) and privately as well (available 2017)!</p>
    </section>

    <section class="section">
      <h3>Visualise Data</h3>
      <p>The HAT is able to ‘flatten’ the data so that it is searchable, indexable and able to be reorganised and even create intelligence from. RUMPEL allows you to view some mashups of this data so that you can realise the potential of your data. Since RUMPEL is open sourced, the community can create more mashups and views on Rumpel and we will integrate them once they are ready.</p>
    </section>

    <section class="section">
      <h3>Control Data</h3>
      <p>Rumpel&trade; is the interface that allows you to share your data, through the HAT’s DATA DEBIT SYSTEM, with friends and family without a third party being involved - to help making plans run smoother, or just for fun.</p>

      <p>Or you can securely trade this valuable resource for reward credits, discount codes, money, recommendations, through Rumpel&trade;.</p>

      <p>Have you ever signed in to a service with your Google or Facebook account? Why should they be a custodian of your data? Now you can use your own HAT to sign in and actually control the data you share - using a ‘data debit’ - with others and terminate the data debit when you don't want to share it anymore! Rumpel&trade; is the service that lets you do that with your HAT.</p>
    </section>

    <section class="section">
      <h3>Create Nudges</h3>
      <p>Create nudges and prompts based on your own data and improve your well being and health (available 2017).</p>
    </section>

    <div class="highlight-box"><p>"HAT is the container of your data and content and Rumpel&trade; is the browser to view, use and create actions using the HAT!"</p></div>

  </div>
</div>
