<ng-content></ng-content>

<div class="monzoTile">
  <img class="icon" src="assets/icons/monzo-icon.svg">

  <div class="stat balance" *ngIf="monzos">
    <h6>{{ monzos[0].data.balance / 100 | currency:monzos[0].data.currency:true:'1.2-2' }}<span>Card balance</span></h6>
  </div>

  <div class="stat" *ngIf="monzos">
    <h6>{{ todaySpend / 100 | currency:monzos[0].data.currency:true:'1.2-2' }}<span>Spent today</span></h6>
    <h6>{{ monthSpend / 100 | currency:monzos[0].data.currency:true:'1.2-2' }}<span>Spent this month</span></h6>
  </div>

</div>
