button {
  width: 100%;
}

h5 {
  background-color: #dddddd;
  padding: 5px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #dddddd;
}

li {
  height: 2em;
  width: 100%;
  &:after {
    display: block;
    clear: both;
  }
}

.day-text {
  float: right;
  cursor: pointer;

  &:hover {
    font-size: 1.1em;
  }
}

.line {
  float: right;
  background-color: #dddddd;
  width: 35%;
  height: 30%;
  margin-left: 1em;
}

.stat-box {
  padding: 5px 10px;
  margin: 5px 5px;
  display: inline-block;
  font-size: 1em;
  text-align: center;
}

.stat-box span {
  display: block;
  font-size: 1.5em;
}

.timeline-view {
  position: relative;
  height: 80vh;
}

.btn-bottom {
  position: absolute;
  bottom: 0;
}