ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

li {
  height: 2.1em;
  font-size: 1.5em;
  width: 100%;


  &:after {
    display: block;
    clear: both;
  }

  .day-text {
    float: right;
    cursor: pointer;
  }

  .line {
    float: right;
    background-color: #ffffff;
    width: 4em;
    height: 0.5em;
    margin-top: 0.4em;
    margin-left: 1em;
  }
}

li:hover {
  font-size: 2em;

  .line {
    width: 4.25em;
    height: 0.6em;
    margin-top: 0.4em;
    margin-left: 0.5em;
  }
}

.timeline-container {
  position: relative;
  height: 80vh;
}

.timeline-view {
  height: 90%;
  margin-top: 4em;
  margin-bottom: 4em;
  overflow: scroll;
}