<mat-card class="item" *ngFor="let item of feed$ | async">
  <div class="flex-basis" *ngIf="item.title">
    <h5 style="margin: 0; text-transform: uppercase; font-weight: bold; color: rgba(135, 135, 135, 0.7);">{{item.title.text}}</h5>
  </div>

  <div class="flex-basis">
    <div *ngIf="item.content && item.content.media">
      <img *ngFor="let mediaItem of item.content.media" [src]="mediaItem.url" onerror="this.style.display='none'">
    </div>

    <div *ngIf="item.content && item.content.text" class="markdown-content"
         [innerHTML]="item.content.text | markdownToHtml">
    </div>
  </div>

  <div class="flex-basis start">
    <span class="meta"><strong>Created time</strong>{{ item.date.iso | moment:'ddd DD MMM YYYY, h:mm a' }}</span>
    <span *ngIf="item.location && item.location.geo" class="meta"><strong>Longitude</strong> {{ item.location.geo.longitude }}</span>
    <span *ngIf="item.location && item.location.geo" class="meta"><strong>Latitude</strong> {{ item.location.geo.latitude }}</span>
    <span *ngIf="item.location && item.location.tags" class="meta"><strong>Tags</strong> {{ item.location.tags.join(', ') }}</span>
  </div>
</mat-card>
