<div class="editor-header">
  <h3>New Notable</h3>
  <div class="notes-tab" [class.active]="currentNotable.kind === 'note'" (click)="switchType('note')"><span class="ss-ellipsischat ss-glyphish-filled"></span>Note</div>
  <div class="notes-tab" [class.active]="currentNotable.kind ==='list'" (click)="switchType('list')"><span class="ss-list ss-glyphish-filled"></span>List</div>
  <div class="notes-tab" [class.active]="currentNotable.kind === 'blog'" (click)="switchType('blog')"><span class="ss-write ss-glyphish-filled"></span>Blog</div>
</div>

<div class="editor-wrapper">
  <textarea #editor></textarea>

  <rump-switch class="privacy-options"
               [isChecked]="shared"
               (onSwitch)="togglePrivacy()"></rump-switch>

  <rump-share-belt *ngIf="shared" class="sharing-belt"
                   [hatDomain]="hatSvc.getDomain()"
                   [currentNotable]="currentNotable"
                   [parentError]="cannotPostMessage"
                   (serviceToggled)="updateShareOptions($event)"></rump-share-belt>
</div>

<div class="options-bar">
  <div class="arrow-down" [class.sharing-on]="shared"></div>

  <button type="button" class="btn btn-options"
          [class.on]="reportLocation"
          (click)="toggleLocation()">
    <span class="ss-location ss-glyphish-filled"></span>
  </button>
  <button type="button" class="btn btn-options"
          [class.on]="expires"
          (click)="toggleExpiration()">
    <span class="ss-calendar ss-glyphish-filled"></span>
  </button>

  <div class="action-buttons">
    <button *ngIf="!editMode" type="submit" class="btn btn-modify" (click)="submit()">{{shared ? 'Share Notable' : 'Log Privately'}}</button>
    <button *ngIf="editMode" type="submit" class="btn btn-modify" (click)="submit()">{{shared ? 'Save as Shared' : 'Save Privately'}}</button>
    <button type="button" class="btn btn-modify" (click)="discardChanges()">Cancel</button>
  </div>
</div>
