@import "../../../style/branding";

.list-item {
  color: $hat-body-text;
  padding-left: 5px;
  margin-bottom: 3px;
}

.instruction-list {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 15px;
}
