.notifications-banner {
  position: fixed;
  padding: 0.75em;
  padding-left: 0;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  background: #B0BEC5;
  color: #000000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow:    0 0 5px black;
  box-shadow:         0 0 5px black;

  h6 {
    text-align: left;
  }
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > .col-xs-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
