<ng-content></ng-content>

<div class="scroll-mask" id="intro-step19">
  <div class="tile-body">
    <ul>
      <li *ngFor="let offer of offers">
        <div class="row vertical-align">
          <div class="col-xs-9">
            <h5>{{offer.offer.title}}</h5>
            <p>{{offer.offer.description | limitContent:300}}</p>
            <p>Already claimed by {{offer.offer.users}} users. Expires at {{offer.offer.expires | moment}}</p>
          </div>
          <div class="col-xs-2" *ngIf="offer.offer.rating">
            <div class="user-votes">
              <span class="ss-like ss-glyphish-filled"></span>
              {{offer.offer.rating.up}}
              <span class="ss-dislike ss-glyphish-filled"></span>
              {{offer.offer.rating.down}}
            </div>
          </div>

          <div class="col-xs-1">
            <button (click)="navigateModal.emit('https://marketsquare.hubofallthings.com/offers/' + offer.offer.uuid)" type="button"><span class="ss-right"></span></button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
