@import "../../style/branding";

.she-feed {
  .day-separator {
    margin: auto;
    padding: 30px 0;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: $hat-body-text;
    max-width: 500px;

    &:before, &:after {
      background-color: #e0e0e0;
      content: " ";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;
    }

    &:before {
      right: 10px;
      margin-left: -50%;
    }

    &:after {
      left: 10px;
      margin-right: -50%;
    }
  }

  .loadMore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

    p {
      margin: 0;
      margin-right: 20px;
      font-weight: 600;
    }

    a {
      background: $app-dark-tone;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 10px 14px;
    }
  }
}

.mapView {
  padding: 30px 0;
}

//.data-filters {
//  width: calc(100% + 60px);
//  margin: -30px -30px 0px -30px;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  align-content: center;
//  background: white;
//}

.mat-toolbar h2 {
  font-size: 0.9em;
  text-transform: uppercase;
}

/deep/ .mat-radio-outer-circle {
  border-color: rgba(255, 255, 255, 0.87);
}

.mat-radio-group {
  font-size: 0.75em;
}

.mat-radio-button {
  margin-right: 1em;
}

/deep/ .mat-radio-label {
  font-weight: 500;
}

.fill-space {
  flex: 1 1 auto;
}

.feed {
  padding: 20px 12px;
}
