<div class="row">
  <div class="component-login">
    <div id="login-box">
      <form [ngFormModel]="loginForm" (ngSubmit)="onSubmit(loginForm)" class="ui form">
        <div class="form-group has-feedback" [class.has-success]="loginForm.controls['hat'].valid">
          <label for="loginAddress">HAT</label>
          <input type="text" class="form-control" id="loginAddress"
                placeholder="http://hat.hubofallthings.net:8080" #hat="ngForm"
                [ngFormControl]="loginForm.controls['hat']"
                aria-describedby="loginAddressStatus">
          <span class="form-control-feedback"
                [class.ss-check]="loginForm.controls['hat'].valid"
                [class.ss-plus]="!loginForm.controls['hat'].valid"
                aria-hidden="true"></span>
          <span class="sr-only" id="loginAddressStatus">(success)</span>
          <div *ngIf="hat.control.hasError('required')" class="ui error message">HAT is required</div>
          <div *ngIf="hat.control.hasError('invalidHat')" class="ui error message">
            HAT address should look like http://hat.hubofallthings.net:12345
          </div>
        </div>

        <div class="form-group has-feedback" [class.has-success]="loginForm.controls['username'].valid">
          <label for="loginEmail">Username</label>
          <input type="text" class="form-control" id="loginEmail"
                placeholder="your.name@email.com" #username="ngForm"
                [ngFormControl]="loginForm.controls['username']"
                aria-describedby="loginEmailStatus">
          <span class="glyphicon form-control-feedback"
                [class.ss-check]="loginForm.controls['username'].valid"
                [class.ss-plus]="!loginForm.controls['username'].valid"
                aria-hidden="true"></span>
          <span id="loginEmailStatus" class="sr-only">(success)</span>
          <div *ngIf="username.control.hasError('required')" class="ui error message">Username is required</div>
        </div>

        <div class="form-group has-feedback">
          <label for="loginPassword">Password</label>
          <input type="password" class="form-control" id="loginPassword"
                placeholder="Your password" #password="ngForm"
                [ngFormControl]="loginForm.controls['password']"
                aria-describedby="loginPasswordStatus">
          <span class="glyphicon form-control-feedback"
                [class.ss-plus]="wrongPassword"
                aria-hidden="true"></span>
          <span id="loginPasswordStatus" class="sr-only">(success)</span>
          <div *ngIf="password.control.hasError('required')" class="ui error message">Password is required</div>
          <div *ngIf="wrongPassword" class="ui error message">Your HAT credentials are invalid</div>
        </div>

        <div class="form-group checkbox">
          <label>Remember Me</label>
          <input type="checkbox" id="loginRemember">
        </div>

        <button type="submit" class="btn btn-default">Login</button>
      </form>

      <div class="login-info">
        <div class="welcome">
          <h2>Welcome to Rumpel</h2>
          <h3>Message from the HATDeX team:</h3>
          <p>The HAT is a personal data repository. It allows you to acquire your data from other services so that it can be useful to yourself. You will be able to acquire it, organise it and contextualise it the way you want it. You can also share and exchange the data with others. </p>
          <!-- <p>However, acquiring your data from other service providers does not mean your data would cease to exist in their locations. Your data will still be held by the service providers you acquired your data from.</p>
          <p>Also, please note that your HAT platform service provider (HATPSP) is contractually obliged to provide you with privacy, security and confidentiality in storing your data. However, every HATPSP have their own technological solution on how this can be best achieved. You should choose your HAT provider according to which provider you think would fit you best.</p> -->
          <!-- <p>[ ] Do not show this message again [<a>See older messages</a>]</p>
          <p><a>I am new to the HAT - tell me more</a></p> -->
        </div>
      </div>

    </div>
  </div>
</div>

