//$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap";
@import "variables";

.component-login {
  @include make-xs-column-offset(1);
  @include make-xs-column(10);
  @include make-sm-column-offset(3);
  @include make-sm-column(6);
  @include make-lg-column-offset(4);
  @include make-lg-column(4);

  padding-top: 1em;
  padding-bottom: 1em;

  label {
    color: $lightred;
  }

  .ss-check {
    color: green;
  }
  .ss-plus {
    color: red;
  }

  input[type=checkbox] {
    margin-left: 10px;
  }

  .ui.error.message {
    margin-top: 0.5em;
    padding: 10px;
    background-color: $base-red;
    border: 1px solid $base-red;
    border-radius: 4px;
  }

  .message {
    color: white;
  }
}

