<ng-content></ng-content>

<div class="scroll-mask" id="intro-step16">
  <div class="empty-tile-title" *ngIf="upcomingEventsExist === false">
    No Upcoming Events
  </div>
  <div class="tile-body" *ngIf="upcomingEventsExist === true">
    <div class="day-view" *ngFor="let day of events">
    <h3>{{day.relativeTime}}</h3>
      <ul>
        <li *ngFor="let eve of day.events">
          <div class="row vertical-align">
            <div class="col-xs-2 event-time">
              <p>{{eve.timestamp | moment:'hh:mm A'}}</p>
            </div>

            <div class="col-xs-9">
              <h4>{{eve.content.name}}</h4>
              <p class="event-description" *ngIf="eve.content.description">{{eve.content.description | limitContent:140}}</p>
              <p>From: {{eve.content.calendarName}}</p>
            </div>

            <div class="col-xs-1">
              <span class="item-expand ss-right"></span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
