@import '../../../style/branding';

.hmi-data-plug-section {
  max-width: 500px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 21px;
  padding-right: 21px;

  @media (min-width: 501px) {
    width: 500px;
  }

  @media (max-width: 500px) {
    width: 100%;
  }

  .section-heading {
    color: $app-dark-tone;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 0.4px;
    text-align: center;
    margin: 32px auto;
  }

  .section-text {
    color: $hat-body-text;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
  }

  .link-button {
    border: none;
    background: transparent;
    color: $app-accent-color;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 20px;
  }

  .mat-card {
    margin: 10px 0;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
    min-height: 80px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 18px 24px;

    .app-card-img-wrapper {
      height: 48px;
      width: 48px;
      background: #9a9a9a;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 16px;

      img {
        width: 26px;
        height: 20px;
      }
    }

    .card-heading {
      color: $app-dark-tone;
      font-weight: bold;
      font-size: 14px;
      letter-spacing: 0.5px;
    }
  }
}
