<section class="hmi-data-plug-section" *ngIf="dependencyApps && dependencyApps.length > 0">
  <img src="/assets/images/HATDataRights_200.png" class="drp-logo" height="100" width="100" alt="HAT Data rights"/>

  <section>
    <h3 class="section-heading">Setting up the data plug</h3>
    <p class="section-text">The data plug enables you to copy data from different places on the internet into your HAT PDA.</p>

    <mat-card *ngFor="let depApp of dependencyApps">
      <div class="app-card-img-wrapper" [style.background-color]="depApp.application.info.primaryColor">
        <img src="/assets/images/data-plug-lego-icon.png" alt="Data plug"/>
      </div>

      <mat-card-content>
        <h5 class="card-heading">{{depApp.application.info.name}}</h5>
      </mat-card-content>
    </mat-card>
  </section>

  <ng-container *ngIf="app.application.setup.dependencies || (app.application.permissions.dataRequired && app.application.permissions.dataRequired.bundle)">
    <section style="text-align: center;">
      <p class="section-text" style="display: inline">The app and the data plug will have permission to take <br /> actions in your HAT.</p>
      <button role="button" class="link-button" (click)="handleShowPermissions()">Show permissions.</button>
    </section>
  </ng-container>
</section>
