<div class="dataPlugData">
  <rum-page-header title="My Data"></rum-page-header>

  <div class="feed">
    <div class="header">
      <img *ngIf="plugMeta" [src]="'assets/icons/' + plugMeta.name.toLowerCase() + '-plug.svg'" />
      <div>
        <h3>{{ plugName }} data</h3>
        <p>All the data imported by this data plug</p>
      </div>
    </div>

    <div class="dates">
      <!--<div class="fromDatePicker datePicker">-->
        <!--<label for="fromDate">From</label>-->
        <!--<input id="fromDate" name="fromDate" type="date" (change)="setFromDate($event)">-->
      <!--</div>-->

      <!--<div class="toDatePicker datePicker">-->
        <!--<label for="toDate">To</label>-->
        <!--<input id="toDate" name="toDate" type="date" [value]="toDate.format('YYYY-MM-DD')" (change)="setToDate($event)">-->
      <!--</div>-->
    </div>

    <ul class="nav nav-tabs">
      <li [class.active]="currentPage === 'feed'">
        <a routerLink="feed">Feed</a>
      </li>
      <li [class.active]="currentPage === 'static'">
        <a routerLink="static">Static</a>
      </li>
    </ul>

    <router-outlet></router-outlet>
</div>
