<div class="dataPlugData">
  <nav class="nav">
    <a (click)="currentPage = 'feed'" [class.current]="currentPage == 'feed'">Feed</a>
    <a (click)="currentPage = 'static'" [class.current]="currentPage == 'static'" *ngIf="staticData.length > 0">Static data</a>
  </nav>


  <div class="feed" *ngIf="currentPage == 'feed'">
    <div class="header">
      <img *ngIf="plugMeta" [src]="'assets/icons/' + plugMeta.name.toLowerCase() + '-plug.svg'" />
      <div>
        <h3>{{ plugName }} feed</h3>
        <p>All the posts stored in this data plug</p>
      </div>
    </div>

    <div class="dates">
      <!--<div class="fromDatePicker datePicker">-->
        <!--<label for="fromDate">From</label>-->
        <!--<input id="fromDate" name="fromDate" type="date" (change)="setFromDate($event)">-->
      <!--</div>-->

      <!--<div class="toDatePicker datePicker">-->
        <!--<label for="toDate">To</label>-->
        <!--<input id="toDate" name="toDate" type="date" [value]="toDate.format('YYYY-MM-DD')" (change)="setToDate($event)">-->
      <!--</div>-->
    </div>

    <ul class="nav nav-tabs">
      <li *ngIf="locations.length > 0" [class.active]="tabView == 'locations'"><a (click)="tabView = 'locations'; resizeWindow()">Map view</a></li>
      <li *ngIf="feed.length > 0" [class.active]="tabView == 'posts'"><a (click)="tabView = 'posts'">Posts</a></li>
      <li *ngIf="events.length > 0" [class.active]="tabView == 'events'"><a (click)="tabView = 'events'">Events</a></li>
    </ul>

    <div class="feedItems" *ngIf="feed && feed.length" [class.hidden]="tabView !== 'posts'">
      <div class="item" *ngFor="let item of feed">
        <rump-facebook-view *ngIf="plugName.toLowerCase() == 'facebook'" [item]="item"></rump-facebook-view>
        <rump-twitter-view *ngIf="plugName.toLowerCase() == 'twitter'" [item]="item"></rump-twitter-view>
        <rump-locations-view *ngIf="plugName.toLowerCase() == 'locations'" [item]="item"></rump-locations-view>
        <rump-notables-view *ngIf="plugName.toLowerCase() == 'rumpel'" [item]="item"></rump-notables-view>
      </div>

      <div class="loadMore">
        <p class="meta">Showing {{ feed.length }} results</p>
        <a class="btn btn-default" (click)="loadMoreFeedData()">Load more</a>
      </div>
    </div>

    <div class="mapView" [class.hidden]="tabView !== 'locations'">
      <rump-map *ngIf="locations.length > 0" [mapHeight]="'400px'" [dataPoints]="locations" [enableMapControls]="true">
        <!--<div class="loading-overlay">-->
          <!--<rump-spinner [isRunning]="true"></rump-spinner>-->
          <!--<span>Loading more data...</span>-->
        <!--</div>-->
      </rump-map>
      <div class="loadMore">
        <p class="meta">Showing {{ feed.length }} results</p>
        <a class="btn btn-default" (click)="loadMoreFeedData()">Load more</a>
      </div>
    </div>

    <div class="calendarView" [class.hidden]="tabView !== 'events'">
      <div class="item" *ngFor="let event of events">
        <rump-calendar-view *ngIf="events.length > 0" [item]="event"></rump-calendar-view>
      </div>
      <div class="loadMore">
        <p class="meta">Showing {{ events.length }} results</p>
        <a class="btn btn-default" (click)="loadMoreEventData()">Load more</a>
      </div>
    </div>

  </div>

  <div class="static" *ngIf="currentPage == 'static'">
    <div class="header">
      <img *ngIf="plugMeta" [src]="'assets/icons/' + plugMeta.icon" />
      <div>
        <h3>{{ plugName }} static data</h3>
        <p>All the personal data stored in this data plug</p>
      </div>
    </div>

    <table *ngIf="staticData.length > 0">
      <tr *ngFor="let static of staticData">
        <td>{{ static.name }}</td>
        <td>{{ static.value }}</td>
      </tr>
    </table>
  </div>
</div>
