@import '../../../style/branding';
@import '../../../style/rumpel-mixins';

.content-wrapper {
  @include flex-container(column);
  overflow: scroll;
  margin-bottom: 125px;
}

.title-section {
  text-align: center;
  max-width: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 1px #e0e0e0;
  margin-bottom: 30px;
  padding: 0 30px 30px 30px;

  .app-logo-wrapper {
    display: inline-block;
    background-color: white;
    padding: 6px;
    border-radius: 50%;
    margin: auto;
    margin-top: 50px;

    .app-logo {
      border-radius: 50%;
    }
  }

  .app-rating-wrapper {
    position: relative;
    margin-top: -20px;
    background-color: white;
    padding: 6px;
    border-radius: 4px;

    &:before {
      content: " ";
      position: absolute;
      top: -10px;
      left: 5px;
      border: solid transparent;
      border-width: 5px 35px;
      border-bottom-color: white;
      border-radius: 4px;
    }

    .app-rating {
      position: relative;
      background-color: #dfc586;
      font-size: 12px;
      color: white;
      text-align: center;
      width: 70px;
      padding: 2px 0;

      &:before {
        content: " ";
        position: absolute;
        top: -10px;
        left: 0;
        border: solid transparent;
        border-width: 5px 35px;
        border-bottom-color: #dfc586;
      }

      &-highlighted {
        font-weight: bold;
      }

      &-italicized {
        font-style: italic;
      }
    }
  }

  .title-section-heading {
    color: $app-dark-tone;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
  }

  .title-section-text {
    color: $app-dark-tone;
    font-size: 14px;
    line-height: 1.57;
    margin: auto;

    ::ng-deep a {
      color: $app-dark-tone;
      text-decoration: underline;
    }
  }
}

.update-notes-section {
  padding: 10px 30px;
  width: 100%;
  max-width: 500px;

  .section-header {
    color: $app-dark-tone;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .app-update-notes {
    list-style-type: none;
    padding: 0;

    &-item {
      display: flex;
      margin: 15px 0;

      &-icon {
        font-size: 20px;
        color: $app-accent-color;
        margin-right: 10px;
      }

      &-content {
        text-align: justify;
        color: $app-dark-tone;
        font-size: 14px;
        line-height: 1.57;
      }
    }
  }
}
