<ul class="center">
  <li>
    <button (click)="showNotifications($event)" [hidden]="notifications.length === 0">
      <span class="ss-notice"></span>
      Notifications
      <div class="new-notifications" *ngIf="unreadNotifications !== 0">{{unreadNotifications}}</div>
    </button>
  </li>
  <li *ngFor="let item of menu"
      (click)="onItemSelect(item.display)"
      [class.selected]="item.display === selectedItem">
    <a [routerLink]="[item.link]" *ngIf="item.link.indexOf('http') === -1">
      <span class="ss-{{item.icon}}"></span>
      {{item.display}}
    </a>
    <button (click)="navigateModal.emit(item.link)" *ngIf="item.link.indexOf('http') > -1" type="button">
      <span class="ss-{{item.icon}}"></span>
      {{item.display}}
    </button>

    <div class="disable" *ngIf="item.disable">
      <p class="text">{{item.disable}}</p>
    </div>
  </li>
</ul>

<div class="notifications-banner" *ngIf="notificationsVisible" outside-click (clickOutside)="hideNotifications($event)">
  <div class="row vertical-align">
    <div class="col-xs-1" (click)="previousNotification()"><span class="ss-left" *ngIf="notifications.length > 1"></span></div>
    <div class="col-xs-10">
      <div class="notification-message" [innerHTML]="notifications[selectedNotification].notice.message"></div>
      <h5>Released {{notifications[selectedNotification].notice.dateCreated | moment}}</h5>
    </div>
    <div class="col-xs-1" (click)="nextNotification()" style="text-align: right;"><span class="ss-right" *ngIf="notifications.length > 1"></span></div>
  </div>
</div>

