ul.center {
  list-style: none;
  padding: 0;
  li {
    position: relative;
    text-align: center;
    width: 7em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1em;

    span {
      font-size: 2em;
      display: block;
    }

    a {
      color: white;
      text-decoration: none;
    }

    &.selected {
      background: #262626;
    }

    &:hover {
      background-color: #262626;
    }

    button {
      background-color: transparent;
      border: none;

      .new-notifications {
        height: 1.5em;
        width: 1.5em;
        position: absolute;
        font-weight: bold;
        font-size: 1em;
        background-color: red;
        top: 0.25em;
        right: 2em;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
      }

      &:focus {
        outline: 0;
      }
    }
  }
}

.disable {
  position: absolute;
  text-transform: uppercase;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  //z-index: 1002;

  .text {
    margin-top: 2em;
  }
}

.notifications-banner {
  position: fixed;
  padding: 0.75em;
  padding-left: 0;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  background: #B0BEC5;
  color: #000000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow:    0 0 5px black;
  box-shadow:         0 0 5px black;

  h6 {
    text-align: left;
  }
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > .col-xs-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}