<ul class="center" id="intro-step1">
  <li>
    <div class="wrapper" id="intro-step2">
      <button (click)="showNotificationsCentre()" type="button">
        <span class="ss-notice"></span>
        Notifications
        <span class="new-notifications" *ngIf="unreadNotifications > 0">{{unreadNotifications}}</span>
      </button>
    </div>

    <div class="disable" *ngIf="totalNotifications === 0">
      <p class="text">no data</p>
    </div>
  </li>
  <li *ngFor="let item of menu; let i = index"
      (click)="onItemSelect(item.display)"
      [class.selected]="item.display === selectedItem">
    <div class="wrapper" id="intro-step{{i + 3}}">
      <a [routerLink]="[item.link]">
        <span class="ss-{{item.icon}}"></span>
        {{item.display}}
      </a>
    </div>

    <div class="disable" *ngIf="item.disable">
      <p class="text">{{item.disable}}</p>
    </div>
  </li>

  <li>
    <div class="wrapper" id="intro-step12">
      <button (click)="navigateModal.emit('https://marketsquare.hubofallthings.com/offers')" type="button">
        <span class="ss-tags"></span>
        Offers
      </button>
    </div>
  </li>
</ul>

<ul class="center" id="intro-step13">
  <li *ngFor="let item of comingSoonMenu">
    <a href="#">
      <span class="ss-{{item.icon}}"></span>
      {{item.display}}
    </a>

    <div class="disable">
      <p class="text">coming soon</p>
    </div>
  </li>
</ul>
