<div class="offers-container" *ngIf="acceptedOffers.length == 0">
  <div class="no-offers-text">
    <h4 class="no-offers">{{ noOffersMessage }}</h4>
  </div>
</div>

<rump-offer-accepted-stats class="stats" [acceptedOffers]="acceptedOffers" *ngIf="acceptedOffers.length > 0"></rump-offer-accepted-stats>


<div class="offers-container mobile-responsive" *ngIf="acceptedOffers.length > 0">
  <div class="offer" *ngFor="let accepted of acceptedOffers; let i = index">
            <div [style.background-image]="'url(' + accepted?.illustrationUrl + ')'" class="offer-img" (click)="showModal(i, this)"></div>
            <h4 (click)="showModal(i, this)">{{ accepted?.title }}</h4>
            <p class="expiry">Accepted {{ accepted?.claim.dateCreated | moment:'Do MMM YY' }}</p>
            <div class="cta" *ngIf="accepted.claim?.status == 'redeemed'" class="redeemed">All done!</div>
            <div class="cta" *ngIf="accepted.claim?.status == 'completed'" class="complete">
              <button *ngIf="accepted.reward.rewardType == 'Cash' && accepted.reward.currency != 'None'" (click)="claimCash()" class="btn">Claim {{ accepted.reward.value | currency:accepted.reward.currency:true:'1.2-2' }}<i class="material-icons">arrow_forward</i></button>
              <button *ngIf="accepted.reward.rewardType == 'Cash' && accepted.reward.currency == 'None'" (click)="claimCash()" class="btn">Claim {{ accepted.reward.value }}<i class="material-icons">arrow_forward</i></button>
              <button *ngIf="accepted.reward.rewardType == 'Service'" class="btn" (click)="showModal(i, this)">Access service <i class="material-icons">arrow_forward</i></button>
              <button *ngIf="accepted.reward.rewardType == 'Voucher'" class="btn" (click)="showModal(i, this)">Get voucher code <i class="material-icons">arrow_forward</i></button>
            </div>
            <div class="cta" *ngIf="accepted.claim?.status == 'claimed' || accepted.claim?.status == 'claim'"><a (click)="showModal(i)">View status</a></div>
            <div class="cta" *ngIf="accepted.claim?.status == 'failed'"><a href="mailto:contact@HATDeX.org">Contact support</a></div>
  </div>
</div>

<div class="offers-container table-responsive" *ngIf="acceptedOffers.length > 0">
  <table class="table table-bordered">
    <thead>
        <th></th>
        <th>Reward details</th>
        <th>Signup date</th>
        <th>Status</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let accepted of acceptedOffers; let i = index">
          <td (click)="showModal(i)"><div class="offerImage" [style.background-image]="['url(' + accepted.illustrationUrl + ')']"></div></td>
          <td (click)="showModal(i)">{{ accepted.title }}</td>
          <td>{{ accepted.claim?.dateCreated | moment:"DD MMM YY" }}</td>

          <td *ngIf="accepted.claim?.status == 'redeemed'" class="redeemed"><i class="material-icons">check_circle</i>Reward claimed</td>
          <td *ngIf="accepted.claim?.status == 'completed'" class="complete"><i class="material-icons">check_circle</i>Collect reward</td>
          <td *ngIf="accepted.claim?.status == 'claimed' || accepted.claim?.status == 'claim'" class="inprogress"><i class="material-icons">schedule</i>Collecting data</td>
          <td *ngIf="accepted.claim?.status == 'failed'" class="failed"><i class="material-icons">error</i>Failed</td>
          <td *ngIf="accepted.claim == undefined" class="complete"></td>

          <td *ngIf="accepted.claim?.status == 'redeemed'" class="redeemed">All done!</td>
          <td *ngIf="accepted.claim?.status == 'completed'" class="complete">
            <button *ngIf="accepted.reward.rewardType == 'Cash' && accepted.reward.currency != 'None'" (click)="claimCash()" class="btn">Claim {{ accepted.reward.value | currency:accepted.reward.currency:true:'1.2-2' }}<i class="material-icons">arrow_forward</i></button>
            <button *ngIf="accepted.reward.rewardType == 'Cash' && accepted.reward.currency == 'None'" (click)="claimCash()" class="btn">Claim {{ accepted.reward.value }}<i class="material-icons">arrow_forward</i></button>
            <button *ngIf="accepted.reward.rewardType == 'Service'" class="btn" (click)="showModal(i, this)">Access service <i class="material-icons">arrow_forward</i></button>
            <button *ngIf="accepted.reward.rewardType == 'Voucher'" class="btn" (click)="showModal(i, this)">Get voucher code <i class="material-icons">arrow_forward</i></button>
          </td>
          <td *ngIf="accepted.claim?.status == 'claimed' || accepted.claim?.status == 'claim'"><a (click)="showModal(i)">View status</a></td>
          <td *ngIf="accepted.claim?.status == 'failed'"><a href="mailto:contact@HATDeX.org">Contact support</a></td>
          <td *ngIf="accepted.claim == undefined" class="complete"></td>
        </tr>
    </tbody>
  </table>
</div>
