<div class="row">
  <div class="col-md-12 mixpad">
    <div class="view-header">
      <h4>Data mashup view</h4>
      <span>
        <input type="checkbox" name="events-view-toggle" [(ngModel)]="shownComponents.events">
        <label for="event-view-toggle">Day View</label>
      </span>
      <span>
        <input type="checkbox" name="events-view-toggle" [(ngModel)]="shownComponents.timeline">
        <label for="event-view-toggle">Timeline</label>
      </span>
      <span>
        <input type="checkbox" name="events-view-toggle" [(ngModel)]="shownComponents.map">
        <label for="event-view-toggle">Map</label>
      </span>
      <button (click)="onViewReset()">Reset View</button>
    </div>

    <div class="view-body">
      <rump-activitylist class="activitylist"
                         [timeSelected]="selectedTime"
                         [componentHeight]="safeSize"
                         [componentWidth]="shownComponents.map ? '40%' : '80%'"
                         [events]="events | timeFilter:selectedTime:'day':'start'"
                         [posts]="posts | timeFilter:selectedTime:'day':'createdTime'"
                         [photos]="photos | timeFilter:selectedTime:'day':'timestamp'"
                         [notables]="notables | timeFilter:selectedTime:'day':'created_time'"
                         *ngIf="shownComponents.events"></rump-activitylist>
      <rump-map class="map"
                [dataPoints]="locations | timeFilter:selectedTime:'day'"
                [mapHeight]="safeSize"
                [mapWidth]="shownComponents.events ? '60%' : '100%'"
                (timeSelected)="selectTime($event)"
                *ngIf="shownComponents.map"></rump-map>
      <rump-timeline class="timeline"
                     [timeline]="timeline"
                     [selectedTime]="selectedTime"
                     (timeSelected)="selectTime($event)"
                     [hidden]="!shownComponents.timeline"></rump-timeline>
    </div>
  </div>
</div>
