<section class="hmi-data-debit-section" *ngIf="app.permissions.dataRequired && app.permissions.dataRequired.bundle">
  <div class="hmi-data-share-wrapper">
    <img class="data-share-icon" src="/assets/images/data-share.svg" alt="data share" />
    <img class="data-share-logo" [src]="app.info.graphics.logo.normal || '/assets/images/app-logo-placeholder.svg'" alt="data share" />
  </div>
  <h3 class="section-heading" *ngIf="permissionScreen">Your data has been shared with {{app.info.name}}</h3>
  <h3 class="section-heading" *ngIf="!permissionScreen">Your data will be shared with {{app.info.name}}</h3>

  <p class="section-text" *ngIf="permissionScreen">You have given the app permission to:</p>
  <p class="section-text" *ngIf="!permissionScreen">You are giving the app permission to:</p>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="expandable-card-title">Use your data</mat-panel-title>
    </mat-expansion-panel-header>

    <mat-panel-description class="hmi-data-debit-panel-description">
      <div *ngIf="permissionScreen">The app is able to use the following:</div>
      <div *ngIf="!permissionScreen">The app will be able to use the following:</div>
      <br />
      <div *ngFor="let endpoint of app.permissions.dataRequired.bundle.bundle | unbundle">
        <div>
          <div>
            {{endpoint.title}} data
          </div>
          <ul class="card-list">
            <li *ngFor="let field of endpoint.fields">{{field}}</li>
          </ul>
        </div>
      </div>
    </mat-panel-description>
  </mat-expansion-panel>

  <mat-card>
    <ng-container *ngIf="app.setup.dependencies || (app.permissions.dataRequired && app.permissions.dataRequired.bundle); else noExtraDataPermissions">
      <mat-card-content>
        <h5 class="card-heading">Purpose of data usage</h5>
        <p class="card-text">{{app.info.dataUsePurpose}}</p>
      </mat-card-content>
    </ng-container>

    <ng-template #noExtraDataPermissions>
      <mat-card-content>
        <h5 class="card-heading">Take actions in your HAT</h5>
        <rum-hmi-permissions-list [app]="app"></rum-hmi-permissions-list>
      </mat-card-content>
    </ng-template>
  </mat-card>
</section>
