<div class="flex-basis">
  <div>
    <p *ngIf="item.data.longitude || item.data.latitude">
      <span *ngIf="item.data.longitude"><strong>Longitude:</strong> {{ item.data.longitude }}</span>
      <span *ngIf="item.data.longitude && item.data.latitude" class="pipe"> | </span>
      <span *ngIf="item.data.latitude"><strong>Latitude:</strong> {{ item.data.latitude }}</span></p>
  </div>
</div>

<div class="flex-basis start">
  <span *ngIf="item.data.dateCreated" class="meta"><strong>Timestamp</strong><span class="date">{{ item.data.dateCreated | moment:'ddd DD MMM YYYY, h:mm a' }}</span></span>
  <span *ngIf="item.data.horizontalAccuracy > -1" class="meta"><strong>Accuracy</strong> {{ item.data.horizontalAccuracy }}</span>
  <span *ngIf="item.data.altitude" class="meta"><strong>Altitude</strong> {{ item.data.altitude }}</span>
  <span *ngIf="item.data.verticalAccuracy > -1" class="meta"><strong>Altitude accuracy</strong> {{ item.data.verticalAccuracy }}</span>
  <span *ngIf="item.data.course > -1" class="meta"><strong>Heading</strong> {{ item.data.course }}</span>
  <span *ngIf="item.data.speed > -1" class="meta"><strong>Speed</strong> {{ item.data.speed }}</span>
</div>
