
@import "../../style/branding";


.monzoTile{

  font-family: $font-standard;
  color: #878787;
  width: 170px;

  h4{
    font-size: 12px;
    font-weight: 400px;
    letter-spacing: 0.6px;
    margin-left: 0;
    margin-bottom: 15px;
    color: #878787;
  }

  .flex-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    .stat{

        font-size: 10px;
        font-weight: 300;
        width: 50%;
        font-style: italic;

        span{
          font-style: normal;
          font-size: 12px;
          display: block;
          color: white;
        }
    }
  }

}
