@import "style";

.view-header button {
  background-color: #78909C;
  margin: 0 10px;
}

.view-body {
  height: 80vh;
  position: relative;
}

.expanded-view-header span {
  margin: 0 10px;
}

.mixpad {
  position: relative;
}

.mixpad .timeline {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 15vw;
  top: 0;
  right: 0;
  z-index: 10;
  overflow: auto;
}

.mixpad .day-view {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 40vw;
  height: 80vh;
  top: 7vh;
  left: 1.5vw;
  z-index: 20;
  color: white;
  overflow: auto;
}

h4 {
  display: inline;
}