<div class="row">
  <div class="col-md-12 mixpad">
    <div class="view-header">
      <h4>Data mashup view</h4>
      <span>
        <input type="checkbox" name="events-view-toggle" [(ngModel)]="shownComponents.events">
        <label for="event-view-toggle">Day View</label>
      </span>
      <span>
        <input type="checkbox" name="events-view-toggle" [(ngModel)]="shownComponents.timeline">
        <label for="event-view-toggle">Timeline</label>
      </span>
      <span>
        <input type="checkbox" name="events-view-toggle" [(ngModel)]="shownComponents.map">
        <label for="event-view-toggle">Map</label>
      </span>
      <button (click)="onViewReset()">Reset View</button>
    </div>

    <div class="view-body">
      <rump-map class="map"
                [dataPoints]="data | timeFilter:selectedTime:'day' | locationFilter:true"
                [mapSize]="safeSize"
                (timeSelected)="selectedTime = $event"
                [hidden]="!shownComponents.map"></rump-map>
      <rump-view-by-day class="day-view" [style.width]="shownComponents.map ? '60%' : '78%'"
                        [day]="selectedTime"
                        [dataPoints]="data | timeFilter:selectedTime:'day'"
                        (timeSelected)="selectedTime = $event"
                        [hidden]="!shownComponents.events"></rump-view-by-day>
      <rump-timeline class="timeline"
                     [timeline]="timeline"
                     (timeSelected)="selectedTime = $event"
                     [hidden]="!shownComponents.timeline"></rump-timeline>
    </div>
  </div>
</div>
