.view-header {
  font-family: 'Open Sans Condensed', sans-serif;
}

.view-header button {
  background-color: transparent;
  padding: 0.75em 2em;
  margin: 0 1.5em;
  border: 2px solid #ffffff;
}

.view-header input {
  margin-right: 0.5em;
  margin-left: 1.5em;
}

.view-body {
  height: 80vh;
  position: relative;
}

.mixpad {
  position: relative;
}

.mixpad .timeline {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  height: auto;
  max-height: 85vh;
  width: 15vw;
  top: 0;
  right: 0;
  z-index: 10;
  overflow: auto;
}

.mixpad .day-view {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 60vw;
  height: auto;
  max-height: 85vh;
  top: 0;
  left: 0;
  z-index: 20;
  color: white;
  overflow: auto;
}

h4 {
  display: inline;
}