@import "style";

.expanded-view-header {
  background-color: #37474F;
  color: #eeeeee;
  padding: 10px 10px;
}

.expanded-view-header button {
  background-color: #78909C;
  margin: 0 10px;
}

.expanded-view-header span {
  margin: 0 10px;
}

.mixpad {
  position: relative;
}

.mixpad .timeline {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 15vw;
  top: 7vh;
  left: 78vw;
  z-index: 10;
  overflow: auto;
}

.mixpad .day-view {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 40vw;
  height: 80vh;
  top: 7vh;
  left: 1.5vw;
  z-index: 20;
  color: white;
  overflow: auto;
}

h4 {
  display: inline;
}