<div class="flex-basis">
  <div>
    <p>{{ item.data.activityName }}</p>
    <!--<a *ngIf="item.data.title && item.data.link" target="_blank" [href]="item.data.link">{{ item.data.title }}</a>-->
    <span *ngIf="item.data.calories" class="meta heading">{{ item.data.calories }}</span>
    <p *ngIf="item.data.startTime"><strong>Start: </strong>{{ item.data.startTime | moment:'ddd DD MMM YYYY, h:mm a' }}</p>
    <p *ngIf="item.data.duration"><strong>Duration: </strong>{{ item.data.duration }}</p>
    <p *ngIf="item.data.activeDuration"><strong>Active duration: </strong>{{ item.data.activeDuration }}</p>
    <p *ngIf="item.data.distance && item.data.distanceUnit"><strong>Distance: </strong>{{ item.data.distance + ' ' + item.data.distanceUnit }}</p>
    <p *ngIf="item.data.pace"><strong>Pace: </strong>{{ item.data.pace }}</p>

  </div>
</div>

<div class="flex-basis start">
    <span *ngIf="item.data.steps" class="meta"><strong>Steps</strong> {{ item.data.steps }}</span>
    <span *ngIf="item.data.logId" class="meta"><strong>ID</strong> {{ item.data.logId }}</span>
</div>
