.tile-body {
  padding: 0.5em 1em;
}

.tile-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tile-body li {
  margin: 1em 0;
  position: relative;
}

.item-expand {
  font-size: 1.5em;
}

.left-column, .right-column {
  margin: 0;
  padding: 0;
}

.center-column {
  padding-right: 0.5em;
  padding-left: 0.5em;

   p {
    font-size: 1.1em;
    margin-bottom: 0;
  }

  h4 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    margin-bottom: 0.4em;
  }
}

.left-column {
  padding-left: 0.5em;
}

.right-column {
  padding-right: 0.5em;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > .col-xs-1,
.vertical-align > .col-xs-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-responsive {
  max-height: 2em;
}