@import "style";

.tile-body {
  padding: 0.5em 1em;
}

.tile-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tile-body li {
  margin: 0.5em 0;
  position: relative;
}

.tile-entry-logo {
  font-size: 2em;
}

.item-expand {
  font-size: 1.5em;
}

.col-xs-1, .col-xs-2 {
  padding-right: 0;
  padding-left: 0;
}

.col-xs-1 {
  padding-right: 0.5em;
}

.col-xs-2 {
  padding-left: 1em;
}

.col-xs-9 {
  p {
    font-size: 0.75em;
    margin-bottom: 0;
  }
}

.tile-content h5 {
  margin: 0;
  padding: 0;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > .col-xs-1,
.vertical-align > .col-xs-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-responsive {
  max-height: 2.5em;
}