<ng-content></ng-content>

<div class="tile-body">
  <ul>
    <li *ngFor="let post of feed$ | async | contains:'body' | limitMembers:6">
      <div class="row vertical-align">
        <div class="col-xs-2">
          <img src="/icons/FB-f-Logo__white_144.png" class="img img-responsive">
        </div>

        <div class="col-xs-9">
          <h4>{{post.title}}</h4>
          <p>{{post.body | limitContent:80}}</p>
          <p>{{post.type}} ({{post.privacy}})</p>
        </div>

        <div class="col-xs-1">
          <span class="item-expand ss-right"></span>
        </div>
      </div>
    </li>
  </ul>
</div>
