@import "../branding";

.hat-rumpel-input {
  color: $app-dark-tone;
  height: 50px;
  border: 1px solid #e0e0e0;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  padding: 15px 20px;
  border-radius: 0;
  -webkit-appearance: none;

  &.rum-error-field {
    border: solid 1px #e45151;
    color: #e45151;
  }

  @media (min-width: 501px) {
    font-size: 20px;

    &::placeholder {
      padding-top: 4px;
    }
  }

  @media (max-width: 500px) {
    border-left: none;
    border-right: none;
  }

  &::placeholder {
    font-size: 16px;
    letter-spacing: 0.5px;
  }

  &:focus {
    outline: none;
  }
}
