<ng-content></ng-content>

<div class="tile-body">
  <ul>
    <li *ngFor="let debit of debits">
      <div class="row vertical-align">
        <div class="col-xs-2">
          <span class="ss-puzzle"></span>
        </div>
        <div class="col-xs-8">
          <h4>{{debit.bundleContextless.name}}</h4>
          <p>Kind: {{debit.kind}}</p>
          <p>End date: {{debit.endDate | moment}}</p>
        </div>
        <div class="col-xs-2">
          <a [routerLink]="['dataDebit', debit.key, 'confirm']" *ngIf="debit.enabled === false"><span class="ss-right"></span></a>
        </div>
      </div>
    </li>
  </ul>
</div>
