
@import "../../../style/branding";

.password-strength-indicator {
  width: 100%;
  margin-top: 0.5em;
  margin-left: 20px;
  margin-right: 20px;
  align-content: center;
  border-radius: 1.5px;

  .indicator-bar {
    display: inline-block;
    height: 3px;
    width: 18%;
  }
}

.password-strength-description {
  font-size: 14px;
  color: $hat-body-text;
  line-height: 1.57;
  margin-bottom: 20px;
}
