@import "style";
@import "variables";

.content-main {
  background: $base-black;
  .menubar-left {
    min-width: 7em;
    background: $base-black;
    color: $base-white;
    float: left;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: lighter;
  }

  .content-grid {
    overflow: hidden;
    background: #f3f3f3;
    min-height: 95vh;
    padding-left: 0;
    padding-right: 0;
  }
}

/* More or less global styles */

:host /deep/ {
  .view-header {
    background-color: #37474F;
    color: #eeeeee;
    padding: 1em 1em;
    font-size: 1em;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}