@import "style";

.tile-body {
  padding: 0.5em 1em;
}

.tile-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tile-body li {
  margin: 0.5em 0;
  position: relative;
}

.tile-entry-logo {
  font-size: 1.5em;
  vertical-align: middle;
  position: absolute;
}

.col-xs-9 {
  p {
    font-size: 0.75em;
    margin-bottom: 0;
  }
}

.col-xs-3 {
  font-size: 2em;

  div {
    margin-right: 0.25em;
    margin-left: 0.25em;
    display: inline;
    font-size: .75em;
  }
}

.tile-content {
  position: relative;
  display: inline-block;
  padding-left: 35px;
}

.tile-content h5 {
  margin: 0;
  padding: 0;
}