<div class="flex-basis">
  <div>
    <p>{{ item.data.summaryDate }}</p>
  </div>
</div>

<div class="flex-basis start">
    <span class="meta" *ngIf="item.data.steps" class="meta"><strong>Steps</strong> {{ item.data.steps }}</span>
    <span *ngIf="item.data.caloriesOut" class="meta"><strong>Calories</strong> {{ item.data.caloriesOut }}</span>
    <span *ngIf="item.data.sedentaryMinutes" class="meta"><strong>Sedentary Minutes</strong> {{ item.data.sedentaryMinutes }}</span>
    <span *ngIf="item.data.lightlyActiveMinutes" class="meta"><strong>Lightly Active Minutes</strong> {{ item.data.lightlyActiveMinutes }}</span>
    <span *ngIf="item.data.fairlyActiveMinutes" class="meta"><strong>Fairly Active Minutes</strong> {{ item.data.fairlyActiveMinutes }}</span>
    <span *ngIf="item.data.veryActiveMinutes" class="meta"><strong>Very Active Minutes</strong> {{ item.data.veryActiveMinutes }}</span>
</div>
