<div class="flex-basis">
  <img *ngIf="item.displayPath" [src]="item.displayPath" onerror="this.style.display='none'">
  <div>
    <p *ngIf="item.name">{{ item.name }}</p>
  </div>
</div>

<div class="flex-basis start">
    <span *ngIf="item.kind" class="meta"><strong>Kind</strong> {{ item.kind }}</span>
    <span *ngIf="item.path" class="meta"><strong>Path</strong> {{ item.path }}</span>
    <span *ngIf="item.size" class="meta"><strong>Size</strong> {{ item.size }}</span>
    <span *ngIf="item.src" class="meta"><strong>Source</strong> {{ item.src }}</span>
</div>

<div class="flex-basis start">
  <span class="meta" *ngIf="item.timestamp"><strong>Timestamp</strong><span class="date">{{ item.timestamp | moment:'ddd DD MMM YYYY, h:mm a' }}</span></span>
</div>
