section {
  margin: 1em;
  border: 2px solid #c7c7c7;
  position: relative;
}

.section-title {
  margin: 1em;
  font-size: 2em;
  text-transform: uppercase;
  color: #9c9c9c;
  border-bottom: 1px solid #c7c7c7;
}

.btn-toggle-sec {
  font-size: 2.5em;
  position: absolute;
  right: 0;
  bottom: 0;
  padding-top: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: none;
  border-left: 2px solid #c7c7c7;
  border-top: 2px solid #c7c7c7;
}

.btn-addon {
  height: 3.75em;

  span {
    margin-right: 0.75em;
    margin-left: 0.75em;
  }
}

.btn-privacy {
  background-color: #cccccc;
  color: #000000;

  &.public {
    background-color: #03A9F4;
    color: #455A64;
  }

  &:disabled {
    background-color: #cccccc;
    color: #eeeeee;
  }
}

.form-group {
  margin-bottom: 2em;
  margin-left: 2em;
  text-align: left;
  display: inline-block;

  label {
    color: #9c9c9c;
    text-transform: uppercase;
  }

  input {
    width: 17em;
  }

  input[name=title] {
    width: 5em;
  }
}

.about .form-group {
  display: block;

  textarea {
    width: 80%;
  }
}

.input-group-btn {
  width: 0;
  height: 3em;

  button {
    border-radius: 0;
  }
}

.picture > .img,
.picture > .section-body {
  display: inline-block;
}

.img {
  img {
    margin: 2em;
    margin-top: 0;
  }
}

.section-body {
  text-align: center;
  margin-top: 2em;

  p {
    font-size: 1.2em;
    text-transform: uppercase;
    color: #9c9c9c;
  }
}

.img-profile {
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.img-circle {
  border-radius: 50%;
}