section {
  margin-top: 3em;
  margin-bottom: 1em;
  padding: 0;
  text-align: left;
}

.section-title {
  background-color: #263238;
  color: #eeeeee;
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 0.8em 1.5em;
  font-size: 1.7em;
  text-transform: uppercase;
}

.section-body {
  background-color: #ffffff;
  text-align: left;
  margin: 0;
  height: 100%;
  padding: 1em;
  padding-top: 2em;
}

.settings, .picture {
  height: 22em;
}

.picture {
  text-align: center;
}

.settings {
  .profile-privacy-switch{
    margin-left: 1.5em;
    margin-top: 1.5em;

    * {
      float: left;
    }

    span {
      font-size: 2.5em;
      text-transform: uppercase;
    }

    .main-switch {
      font-size: 14px;
      margin-left: 1em;
      margin-right: 1em;
    }
  }

  .info {
    padding-top: 2em;
    clear: both;

    p {
      font-size: 1.5em;
    }
  }
}

form {
  text-align: center;
}

.switch {
  position: absolute;
  right: 0;
  margin-right: 2em;

  &.field-switch {
    margin-top: 0.25em;
    font-size: 8px;
  }

  &.group-switch {
    font-size: 14px;
  }
}

.btn-toggle-sec {
  font-size: 2.5em;
  position: absolute;
  right: 0;
  bottom: 0;
  padding-top: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: none;
  border-left: 2px solid #c7c7c7;
  border-top: 2px solid #c7c7c7;
}

.btn-addon {
  height: 3.75em;

  span {
    margin-right: 0.75em;
    margin-left: 0.75em;
  }
}

.btn-privacy {
  background-color: #cccccc;
  color: #000000;

  &.public {
    background-color: #03A9F4;
    color: #455A64;
  }

  &:disabled {
    background-color: #cccccc;
    color: #eeeeee;
  }
}

.form-group {
  margin-bottom: 2em;
  margin-left: 2em;
  text-align: left;

  label {
    color: #9c9c9c;
    font-weight: normal;
    font-size: 1.75em;
  }

  textarea,
  input[type=text] {
    display: block;
    font-family: "Open Sans", sans-serif;
    background-color: #f3f3f3;
    font-size: 1.3em;
    font-weight: 300;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 0;

    &:focus {
      background-color: rgba(1, 134, 117, 0.1);
      box-shadow: 0 0 5px rgba(1, 134, 117, 0.5);
      border-color: rgba(1, 134, 117, 0.3);
    }
  }

  input[name=title] {
    width: 5em;
  }
}

.img-profile {
  margin-top: 1em;
  height: 15em;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.img-circle {
  border-radius: 50%;
}

.ui-message {
  position: fixed;
  padding: 0.75em;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  background: #B0BEC5;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1.3em;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow:    0 0 5px black;
  box-shadow:         0 0 5px black;
}