@import "../../../style/branding";

:host {
  margin: 15px auto;
  max-width: 500px;
  display: flex;

  .img-wrapper {
    position: relative;

    .arrow-left {
      position: absolute;
      top: 17px;
      right: -15px;
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;

      border-right: 6px solid white;
    }

    img {
      margin-top: 5px;
      border-radius: 50%;
    }
  }

  .mat-card {
    flex: 1 1;
    margin: 0;
    margin-left: 15px;
    max-width: 450px;
    box-shadow: none;
    border-radius: 4px;
    padding: 0;
    overflow: hidden;

    /deep/ .mat-card-header-text {
      margin: 0;
    }

    .mat-card-header {
      padding: 5px 15px;

      .card-header-title {
        font-size: 14px;
        color: $app-dark-tone-lighter;
        margin-top: 10px;
        margin-bottom: 8px;
      }
    }

    .mat-card-content {
      position: relative;

      .feed-item-overlay {
        background-color: $image-overlay-color;
        padding: 20px 15px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .feed-item-overlay-content {
          background-color: transparent;
          border: none;
          overflow-wrap: break-word;
          word-wrap: break-word;
          white-space: pre-wrap;
          padding: 0;
          font-family: $font-standard;
          color: whitesmoke;
          font-size: 13px;
          line-height: 1.54;
        }

        .feed-item-overlay-footer {
          color: whitesmoke;
          font-size: 13px;
          font-style: italic;
        }
      }

      &.no-image {
        margin: 0;
        padding: 20px 15px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        font-size: 13px;
        color: $hat-body-text;
        line-height: 1.54;
      }

      &.single-image {
        background: center center no-repeat;
        background-size: cover;
        padding: 0;
        min-height: 200px;
      }
    }

    .mat-card-footer {
      margin: 0;
      padding: 0 0 10px 15px;
      font-size: 13px;
      color: $hat-body-text;
      font-style: italic;
    }

    .mat-card-header {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $hat-background-color;
    }

    .card-header-action {
      font-style: italic;
      text-transform: capitalize;
      font-size: 13px;
      color: $hat-body-text;
    }
  }
}
