<div class="img-wrapper">
  <img src="/assets/icons/she-{{imageSource(feedItem.source, feedItem.types)}}.{{feedItem.source === 'notables'? 'png' : 'svg'}}" height="35" width="35" />
  <div class="arrow-left"></div>
</div>

<mat-card>
  <mat-card-header>
    <h4 class="card-header-title">{{feedItem.title.text}}</h4>
    <span class="flex-spacer"></span>
    <!--<span class="card-header-action">{{feedItem.title.action}}</span>-->
  </mat-card-header>

  <ng-container *ngIf="feedItem.content && !feedItem.content.media">
    <mat-card-content class="no-image">
      <div class="feed-item-content" [class.expanded]="expanded" #cardContent
           *ngIf="feedItem.content.text">{{feedItem.content.text.trim()}}</div>
      <ng-container *ngIf="feedItem.location && feedItem.location.address">
        <br><br>
        <div>{{feedItem.location.address.name}}</div>
        <div>{{feedItem.location.address.street}}</div>
        <div>{{feedItem.location.address.city}}</div>
        <div>{{feedItem.location.address.country}}</div>
      </ng-container>
    </mat-card-content>
    <mat-card-footer>
      <span>Posted {{feedItem.date.iso | moment: 'DD MMM YYYY h:mma'}}</span>
      <span class="flex-spacer"></span>
      <span class="card-expand-tag" *ngIf="!expanded && overflowing" (click)="expandCard()">Show More</span>
    </mat-card-footer>
  </ng-container>

  <ng-container *ngIf="feedItem.content && feedItem.content.media && feedItem.content.media.length > 0">
    <mat-card-content class="single-image"
                      [ngStyle]="{ 'background-image': 'url(' + feedItem.content.media[0].url + ')' }">
      <div class="feed-item-overlay">
        <div class="feed-item-overlay-content">{{feedItem.content.text}}</div>
        <div class="feed-item-overlay-footer">Posted {{feedItem.date.iso | moment: 'DD MMM YYYY h:mma'}}</div>
      </div>
    </mat-card-content>
  </ng-container>
</mat-card>
