.notable {
  font-family: "Open Sans Regular", sans-serif;
  font-weight: 300;
  padding: 1em;
  max-height: 11em;
  overflow: hidden;

  &:nth-child(2n+1) {
    background-color: #393939;
  }

  &:nth-child(2n) {
    background-color: #262626;
  }

  .notable-content {
    clear: both;
    margin: 1em;
    margin-top: 1.5em;
    font-size: 1em;
  }
}

.item-header {
  .user-photo {
    float: left;
    font-size: 0.75em;
    margin-right: 0.5em;
  }

  .header-content {
    padding-top: 1em;

    h5 {
      font-size: 1.3em;
      margin-top: 0;
      margin-bottom: 0.25em;
    }

    span {
      font-size: 1em;
    }
  }

  .notable-type {
    float: right;
    margin-top: 0.4em;
    font-size: 2em;
  }
}
