<ng-content></ng-content>

<rump-input-box [userPhotoUrl]="profilePhoto?.url">
  <rump-profile-photo [userPhotoUrl]="profilePhoto?.url">
  </rump-profile-photo>
</rump-input-box>

<div class="content">
  <ul class="note-list" *ngIf="notables.length > 0">
    <li *ngFor="let notable of notables" class="notable">
      <div class="item-header">
        <rump-profile-photo class="user-photo"
                            [userPhotoUrl]="notable.author ? notable.author['photo_url'] : ''">
        </rump-profile-photo>
        <div class="notable-type">
          <span class="ss-maplocation" *ngIf="notable.location"></span>
          <span class="ss-{{iconMap[notable.type]}}"></span>
        </div>
        <div class="header-content">
          <h5>{{notable.author ? notable.author.phata : ''}}</h5>
          <span>Logged {{notable.created_time | moment}}</span>
          &nbsp;&#9679;&nbsp;
          <span>{{notable.isShared() ? 'SHARED' : 'PRIVATE'}}</span>
        </div>
      </div>

      <div class="notable-content" [innerHTML]="notable.message | markdownToHtml"></div>
      <!-- <div class="location" *ngIf="note.location">Location: {{note.location.latitude}} : {{note.location.longitude}}</div> -->
    </li>
  </ul>
</div>