<div *ngFor="let rolledUpItem of rolledUpFeed" style="text-align: center;">
  <ng-container *ngIf="rolledUpItem.rollup.length < minItemsForRollup || rolledUpItem.expanded === true; else condensedRollup">
    <ng-container *ngFor="let feedItem of rolledUpItem.rollup">
      <ng-container *ngIf="feedItem.types.includes('insight') && feedItem.types.includes('activity')">
        <rum-she-feed-weekly-summary [feedItem]="feedItem"></rum-she-feed-weekly-summary>
      </ng-container>
      <ng-container *ngIf="!(feedItem.types.includes('insight') && feedItem.types.includes('activity'))">
        <rum-she-feed-item [feedItem]="feedItem" >></rum-she-feed-item>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-template #condensedRollup>
    <rum-she-feed-item [feedItem]="rolledUpItem.rollup[0]"></rum-she-feed-item>
    <button class="feed-item-rollup-control" (click)="rolledUpItem.expanded = !rolledUpItem.expanded">
      See {{rolledUpItem.rollup.length - 1}} more items
    </button>
  </ng-template>
</div>
