<ng-content></ng-content>

<div class="tile-body">
  <ul>
    <li *ngFor="let prop of user" [class.private-entry]="prop.private">
      <div class="row">
        <div class="col-xs-1">
          <span class="tile-entry-logo ss-{{prop.icon}}"></span>
        </div>

        <div class="col-xs-9">
          <div *ngIf="isArray(prop)">
            <p  *ngFor="let subField of prop.value">
              {{subField.value}}
            </p>
          </div>

          <p *ngIf="!isArray(prop)">{{prop.value}}</p>
        </div>

        <div class="col-xs-2">
          <span class="privacy-setting ss-view"
            [class.privacy-color]="!prop.private"
            (click)="togglePrivacy(prop.field)"></span>
        </div>
      </div>
    </li>
  </ul>
</div>