@import "style";

.tile-header {
  padding: 0.5em 0.5em;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.5em;
  background-color: #37474F;
}

.tile-body {
  padding: 0.5em 1em;
}

.tile-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tile-body li {
  margin: 0.5em 0;
}

.tile-body p {
  margin-bottom: 0;
}

.tile-body div p {
  margin-left: 0.5em;
}

.col-xs-9 {
  padding: 0;
}

.tile-expand {
  float: right;
}

.tile-entry-logo, .privacy-setting {
  font-size: 1.5em;
  vertical-align: middle;
}

.privacy-setting {
  float: right;
}

.privacy-color {
  color: #42B4F5;
}

.private-entry {
  color: #555555;
}