<div class="row">
  <div class="col-md-12">
    <div class="view-header">
      <h4>Locations</h4>
      <span>(open your RumpelLite app to synchronise your latest location data)</span>
    </div>
    <div class="map-wrapper">
      <rump-map [dataPoints]="locations | relativeTimesFilter:selectedTime" [mapHeight]="safeSize"
                [enableMapControls]="true">
        <div class="controls-overlay" (click)="selectLocationTime($event)">
          <button type="button" class="btn-overlay" value="today" [class.selected]="selectedTime === 'today'">Today</button>
          <button type="button" class="btn-overlay" value="yesterday" [class.selected]="selectedTime === 'yesterday'">Yesterday</button>
          <button type="button" class="btn-overlay" value="last week" [class.selected]="selectedTime === 'last week'">Last Week</button>
          <button type="button" class="btn-overlay" value="all" [class.selected]="selectedTime === 'all'">All</button>
        </div>
      </rump-map>
    </div>
  </div>
</div>
