<div class="belt">
  <div class="content">
    <p>Share with...</p>
    <ul *ngIf="notablesState.notablesOfferClaimed && (!displayMessage) && notablesState.dataDebit.confirmed">
      <li *ngFor="let service of services" (click)="toggleSharing(service)">
        <img src="{{service.logoUrl}}"
             class="img img-responsive share-service"
             [class.on]="service.shared">
      </li>
    </ul>
  </div>

  <div class="message" *ngIf="displayMessage">
    {{displayMessage}}
  </div>

  <div class="message" *ngIf="!notablesState.notablesOfferClaimed && (!displayMessage)">
    Notables data offer needs to be claimed in order to share this notable on other services.
    <span class="claim" (click)="claimNotablesOffer()">Claim it.</span>
  </div>

  <div class="message" *ngIf="notablesState.notablesOfferClaimed && (!notablesState.dataDebit.confirmed) && (!displayMessage)">
    To share your notable, please accept data offer from MarketSquare.
    <span class="claim" (click)="confirmNotablesDataDebit()">Accept it here</span>.
  </div>

  <div class="error-message" *ngIf="parentError">
    <span class="ss-alert"></span>
    <span class="error-text">
      {{parentError}}
    </span>
  </div>

  <div class="error-message" *ngIf="showError">
    <span class="ss-alert"></span>
    <span class="error-text">
      Please renew your Facebook access token to enable sharing.
      <a href="https://{{hatDomain}}/hatlogin?name=Facebook&redirect=https://social-plug.hubofallthings.com/hat/authenticate"
         target="_blank">Go to data plug</a>.
    </span>
  </div>
</div>
