.belt {
  width: 100%;
  background-color: #dbdbdb;
  height: 5em;

  .content {
    display: inline-block;
    margin-top: 0.25em;
    margin-left: 1em;

    p {
      font-size: 0.9em;
      margin-bottom: 0.25em;
    }
  }

  li {
    display: inline;
    margin: 0.5em 0.75em;

    .share-service {
      display: inline;
      max-height: 1.5em;
      border-radius: 50%;
      opacity: 0.3;

      &.on {
        opacity: 1.0;
      }
    }
  }

  div {
    max-height: 4em;
    vertical-align: bottom;
    font-size: 1.2em;

    .claim {
      text-decoration: underline;
      color: blue;
      cursor: pointer;
    }
  }
}

.error-message {
  display: inline-block;
  margin-left: 1em;

  .ss-alert {
    color: #ff0000;
    margin-right: 0.5em;
  }
}

.message {
  display: inline-block;
  margin-left: 1em;
  margin-top: 1em;
}
