:host {
  padding: 1em 2em;
}

.view-body {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;

  -webkit-column-width: 50%;
  -moz-column-width: 50%;
  column-width: 50%;
}

.time {
  font-size: 2em;
}

.action {
  font-size: 2em;
}