<div class="notable-item">
  <div class="additional-info">
    <ul class="shared-list" *ngIf="notable.data.isShared">
      <li *ngFor="let service of notable.data.shared_on" class="shared-item">
        <img [src]="getLogo(service)" class="shared-icon">
      </li>
    </ul>
    <div class="notable-type icon-text-valign"><i class="material-icons">{{getIconName()}}</i></div>
  </div>

  <div class="notable-header">
    <div class="user-photo" *ngIf="notable.data.authorv1">
      <img [src]="notable.data.authorv1['photo_url'] || '/assets/images/user-icon-black.svg'">
    </div>
    <div class="header-content">
      <h5 *ngIf="notable.data.authorv1">{{notable.data.authorv1.phata}}</h5>
      <span>Logged {{notable.data.created_time | moment}}</span>
      <span *ngIf="!notable.data.isShared">PRIVATE</span>
      <span *ngIf="notable.data.isShared">
        SHARED{{notable.data.public_until === null ? ' forever' : notable.data.public_until.isBefore() ? ', expired' : ', expires ' + (notable.data.public_until | relativeTime) }}
      </span>
    </div>
  </div>

  <div class="notable-content">
    <div class="content-container" [innerHTML]="notable.data.message | markdownToHtml | safeHtml"></div>
    <img src="{{notable.data.photov1.link | presignImgUrl | async}}" *ngIf="notable.data.photov1">
  </div>

  <div class="notable-controls" *ngIf="modifiable">
    <div class="controls-item" (click)="remove()"><span class="ss-trash"></span>Delete</div>
    <div class="controls-item" (click)="edit()"><span class="ss-compose"></span>Edit</div>
  </div>

</div>
