@import "../../../style/branding";

.notable-header {
  padding: 1em;
  min-height: 6em;

  .user-photo {
    float: left;
    font-size: 0.75em;
    margin-right: 1em;
    margin-left: 1em;

    img {
      max-height: 4.5em;
      opacity: 0.3;
    }
  }

  .header-content {
    padding-top: 0.5em;

    h5 {
      font-size: 1.3em;
      margin-top: 0;
      margin-bottom: 0.25em;
    }

    span {
      font-size: 1em;
    }

    &:after {
      clear: both;
    }
  }

  .notable-type {
    float: right;
    margin-top: 0.1em;
    font-size: 3em;
  }
}

.notable-item {
  border-top: 3px solid #515151;
  margin-bottom: 2em;
  position: relative;

  .additional-info {
    position: absolute;
    top: 0;
    right: 0;

    @media screen and (max-width: $screen-xs) {
        display: none;
    }

    .shared-list {
      display: inline-block;
      padding: 0.5em 0.5em;
    }

    .shared-item {
      display: inline-block;
      padding: 0 0.5em;
    }

    .shared-icon {
      max-height: 2em;
      border-radius: 50%;
    }

    .notable-type {
      display: inline-block;
      font-family: $font-standard;
      background-color: #515151;
      text-transform: uppercase;
      padding: 0.5em 1em;
      font-size: 1.2em;
      color: white;
      background-color: $app-mid-tone;

      span {
        margin-right: 0.5em;
      }
    }
  }

  .notable-controls {
    height: 50px;
    margin-right: 25px;

    div {
      float: right;
    }

    .controls-item {
      font-size: 1.1em;
      padding: 0.5em 1em;
      border-right: 2px solid #515151;
      cursor: pointer;

      &:first-child {
        border: none;
        padding-right: 0;
      }

      span {
        margin-right: 0.5em;
      }
    }
  }
}

/deep/ .notable-content {
  padding-left: 2em;
  padding-right: 2em;

  img {
    max-width: 80%;
    margin: 1em 10% 2em 10%;
  }
}

.img-profile {
  float: left;
  margin-left: 0.5em;
  margin-right: 1em;
  height: 4em;
}

.img-circle {
  border-radius: 50%;
}
