.card-content {
  height: 100%;
  width: 100%;
  color: #000000;
  text-align: center;
  cursor: pointer;
}

.card-info {
  font-size: 5em;
  display: block;
  padding-top: 1em;
}

.card-text {
  font-size: 2.5em;
  text-transform: uppercase;
}