<div class="date-box" [class.today]="isSelected" (click)="scrollToItem(index)">
  <h2><span>{{momentDate.format("ddd")}}</span>{{momentDate.format('D')}}<span>{{momentDate.format("MMM")}}</span></h2>

  <div>
    <div *ngFor="let activity of dayList">
      <div class="activity">
        <div *ngIf="activity.endpoint.includes('notablesv1')" class="activity-item notable-item">
            <rump-location-notable [notable]="activity"></rump-location-notable>
            <i class="material-icons">border_color</i>
        </div>

          <div *ngIf="activity.endpoint.includes('events')" class="activity-item event">
              <div>
                <h4>{{activity.data.title}}</h4>
                <p class="event-description" *ngIf="activity.data.description">{{activity.data.description | limitContent:140}}</p>
                <p>{{activity.data.start | moment:'hh:mm A'}} - {{activity.data.end | moment:'hh:mm A'}}</p>
              </div>

              <img *ngIf="activity.data.calendarName === 'google'" src="assets/icons/google-calendar-plug.svg">
              <img *ngIf="activity.data.calendarName === 'facebook'" src="assets/icons/facebook-f-icon.svg">
              <img *ngIf="activity.data.calendarName !== 'google' && activity.data.calendarName !== 'facebook'" src="assets/icons/calendar-plug.png">
          </div>

          <div *ngIf="activity.endpoint.includes('photos')" class="activity-item photo-box" [style.background-image]="'url('+activity.data.src + ')'">
              <div class="photo-description" >
                <h4>{{activity.data.name}}</h4>
                <p>{{activity.data.timestamp | moment}}</p>
              </div>
              <img class="icon-rounded" src="assets/icons/photos-plug.svg">
          </div>

          <div *ngIf="activity.endpoint.includes('facebook/posts') && activity.data.type !== 'photo' && activity.data.type !=='link'" class="activity-item post">
                <rump-location-fb-post [post]="activity"></rump-location-fb-post>
                <img src="assets/icons/facebook-f-icon.svg">
          </div>

          <div *ngIf="activity.endpoint.includes('facebook/posts') && activity.data.type ==='photo' || activity.data.type ==='link'" class="activity-item post" [class.photo-box]="activity.data.content.fullPicture !== ''" [style.background-image]="'url('+activity.data.content.fullPicture + ')'">
                <rump-location-fb-post [post]="activity"></rump-location-fb-post>
                <img src="assets/icons/facebook-f-icon.svg">
          </div>

          <div *ngIf="activity.endpoint.includes('fitbit')" class="activity-item post fitbit-box">
                <rump-fitbit-my-day [fitbitData]="activity"></rump-fitbit-my-day>
                <img src="assets/icons/fitbit-icon.svg">
          </div>

          <div *ngIf="activity.endpoint.includes('monzo')" class="activity-item post monzo-box">
                <rump-monzo-my-day [monzoData]="activity"></rump-monzo-my-day>
                <img src="assets/icons/monzo-icon.svg">
          </div>

          <div *ngIf="activity.endpoint.includes('twitter/tweets')" class="activity-item post">
                <rump-location-tweet [tweet]="activity"></rump-location-tweet>
                <img src="assets/icons/twitter-icon.svg">
          </div>

          <div *ngIf="activity.endpoint.includes('locations')" class="activity-item location">
                <div>
                  <h4>Multiple locations ({{activity.data}})</h4>
                  <p>Click to update the map</p>
                </div>
                <img src="assets/icons/location-icon.svg">
          </div>
        </div>
    </div>
  </div>
</div>
