@import "style";

.tile-header {
  padding: 0.5em 0.5em;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.5em;
  background-color: #455A64;
}

.tile-body {
  padding: 0.5em 1em;
}

.tile-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tile-body li {
  margin: 0.5em 0;
  position: relative;
}

.tile-expand {
  float: right;
}

.tile-entry-logo {
  font-size: 1.5em;
  vertical-align: middle;
  position: absolute;
}

.item-expand {
  float: right;
  font-size: 2em;
}

.tile-content {
  position: relative;
  display: inline-block;
  padding-left: 35px;
}

.tile-content h5 {
  margin: 0;
  padding: 0;
}