<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row profile profile-private" *ngIf="!shared">
  <div class="col-md-offset-1 col-md-10">
    <h1>Private Profile</h1>
    <h2>The user has made this Profile Private</h2>
  </div>
</div>

<div class="grid" *ngIf="shared">
  <div class="wrapper grid-item">
    <div class="box-square aspect-ratio"></div>
    <div class="box-content box-photos">
      <img [src]="profile['public_picture'] || '/assets/images/user-icon-white.svg'"
           alt="HAT" class="img img-responsive img-rounded profile-img" />
    </div>
  </div>
  <div class="wrapper grid-item">
    <div class="box-square aspect-ratio"></div>
    <div class="box-content about-me">
      <div class="about-me-wrapper">
        <h1>
          <span class="icon ss-user"></span>&nbsp;
          <!-- TODO: @hatPublicInfo.domain -->
        </h1>

        <h1>
          {{ profile.profile ? profile.profile.personal : "" }}
        </h1>

        <h1>
          {{ profile.about ? profile.about.title : "" }}
        </h1>
        <p>
          {{ profile.about ? profile.about.body : "" }}
        </p>

        <div class="contactme" *ngIf="profile['contact']">
          <div class="contact">
            <h4><span class="icon ss-mail"></span>&nbsp;{{ profile.contact['primary_email'] }}</h4>
          </div>

          <div class="contact">
            <h4><span class="icon ss-mail"></span>&nbsp;{{ profile.contact['alternative_email'] }}</h4>
          </div>

          <div class="contact">
            <h4><span class="icon ss-phone"></span>&nbsp;{{ profile.contact['mobile'] }}</h4>
          </div>

          <div class="contact">
            <h4><span class="icon ss-phone"></span>&nbsp;{{ profile.contact['home_phone'] }}</h4>
          </div>
        </div>
      </div>

      <div class="findme" *ngIf="profile.links">
        <a [href]="link.value" *ngFor="let link of profile.links | withObject">
          <div class="findme-link {{ link.key.toLowerCase() }}">
            <i class="fa fa-{{ link.key.toLowerCase() }}"></i>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="wrapper grid-item item-wide" *ngIf="notables">
    <div class="box-content notes">

      <h1><span class="icon ss-write"></span>&nbsp;My Public Notables</h1>
      <ul class="bulletless-list">
        <li *ngFor="let notable of notables" class="notable-item placeholder">
          <div class="additional-info">
            <ul class="shared-list" *ngIf="notable.shared_on">
              <li *ngFor="let service of notable.shared_on" class="shared-item">
                <!--<img [src]="getLogo(service)" class="shared-icon">-->
              </li>
            </ul>
            <div class="notable-type"><span class="ss-{{iconMap[notable.kind]}} ss-glyphish-filled"></span>{{notable.kind}}</div>
          </div>

          <div class="notable-header">
            <rump-profile-photo class="user-photo" *ngIf="notable.authorv1"
                                [userPhotoUrl]="notable.authorv1['photo_url']"></rump-profile-photo>
            <div class="header-content">
              <h5>{{notable.authorv1 && notable.authorv1.phata}}</h5>
              <span>Logged {{notable.created_time | moment}}</span>
              <span *ngIf="!notable.shared_on">PRIVATE</span>
              <span *ngIf="!!notable.shared_on">SHARED</span>
            </div>
          </div>
          <div class="notable-content" [innerHTML]="notable.message | markdownToHtml"></div>
          <!--<div class="notable-controls">-->
            <!--<div class="controls-item" (click)="deleteNotable($event, notable)">Comment<span class="ss-trash"></span></div>-->
          <!--</div>-->
        </li>
      </ul>
    </div>
  </div>
</div>
