<ul>
  <li *ngFor="let node of treeNodes">
    <div class="row">
      <div class="col-xs-1 col-xs-offset-{{offset}} position-icon" (click)="node.toggle()"><span class="ss-puzzle"></span></div>
      <div class="col-xs-{{4 - offset}} no-padding" (click)="node.toggle()">{{node.key}}</div>
      <div *ngIf="node.value" class="col-xs-4 node-value">{{node.value}}</div>
      <div class="col-xs-12" *ngIf="node.expanded && node.subTree">
        <tree-view [treeNodes]="node.subTree | withObject" [offset]="offset + 1"></tree-view>
      </div>
    </div>
  </li>
</ul>
