@import "../../style/variables";



.rump-modal{

  @media(max-width: 768px){
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 0;
  }


  .rump-modal-content{
    height: 100%;
  }


  .rump-modal-body{

    @media(max-width: 768px){
      max-height: unset;
      height: calc(100% - 142px);
    }
  }


  .rump-modal-header, .rump-modal-footer{

    @media(max-width: 768px){
      border-radius: 0;

      h3{
        text-align: center;
        padding: 24px;
      }
    }
  }

  .rump-modal-footer{

    max-height: 81px;
    height: 81px;

    @media(max-width: 768px){
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

}


.rump-modal-body{

  max-height: 430px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #eee;
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
  position: relative;

  @media(max-height: 645px){
    max-height: 300px;
  }



  .offer-nav{
    position: fixed;
    background: #eee;
    z-index: 500;
    width: 100%;


    .swipe{
      font-size: 12px;
      color: #6297b1;
      font-weight: 300;
      margin: 13px 55px 15px;
      cursor: pointer;
      float: left;
      user-select: none;

      @media(max-width: 550px){
        margin: 15px 25px;
      }

      span{
        margin: 0px 5px;
      }

      i{
        position: relative;
        top: 6px;
        font-size: 20px;
      }

      &:hover{
        text-decoration: none;
      }
    }

    .swipe-disabled{
      opacity: 0.4;
      cursor: not-allowed;
    }

    .swipe-right{
      float: right;
      i{
        transform: scaleX(-1);
      }
    }

    &.shadow{
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.13);
    }
  }

  .offer-content{

    font-size: 0.75em;
    background-color: white;
    margin: 55px;
    padding: 35px !important;
    border: 2px solid #e7e7e7;

    @media(max-width: 550px){
      margin: 55px 25px;
    }

        .offer-logo{
          width: 160px;
          height: 80px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          display: block;
          margin: auto;
          margin-bottom: 30px;
        }

        .offer-title, .offer-expires{
          color: $app-header-color;
          text-align: center;
        }

        .offer-title{
          font-size: 18px;
          text-transform: none;
          line-height: 1.4;
          margin-bottom: 5px;
        }

        .offer-expires{
          font-size: 11px;
          font-weight: 300;
          letter-spacing: 0.5px;
          font-style: italic;
          margin-top: 0;
          opacity: 0.6;
        }

        .offer-icons{
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center;
          margin-top: 25px;

          .offer-icon{
            text-align: center;
            color: #999;
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 300;
            margin: 0 15px;

            @media(max-width: 400px){
              margin: 0 10px;
            }

            i{
              color: #9a9a9a;
              font-size: 22px;
            }

            p{
              margin-top: 5px;
            }
          }
        }

        .offer-details{
              position: relative;
              margin-top: 30px;

              .bold{
                font-weight: 600;
              }

              span{
                display: block;
                font-size: 11px;
              }

              hr{
                border-top: 1px dashed #9b9b9b;
                border-bottom: none;
                opacity: 0.5;
              }

              .circle-cutout{
                border-radius: 50%;
                width: 26px;
                height: 26px;
                display: block;
                position: absolute;
                top: -13px;
                left: -48px;
                background-color: #eee;
              }
              .circle-cutout-right{
                left: unset;
                right: -48px;
              }

              h6, p{
                text-transform: uppercase;
                color: #999;
                font-size: 12px;
                font-weight: 400;
                margin-top: 30px;
              }


              p{
                font-weight: 300;
                text-transform: none;
                margin-top: 10px;
                margin-bottom: 20px;
                line-height: 1.4;
                letter-spacing: 0.4px;
              }
        }
  }

  .PII{
    display: block;
    margin: auto;
    width: 230px;
    text-align: center;
    color: #999;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
    margin-top: -30px;
    margin-bottom: 30px;

    p{
      margin-top: 0;
    }

    i{
      color: $app-notification-color;
    }
  }

}


.rump-modal-footer{
  background-color: #6297b1;
  color: white;
  padding: 0 !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  justify-content: center;

  &.footer-state{
    padding: 15px !important;

    i{
      font-size: 36px;
      margin-right: 12px;
    }

    h5{
      display: block;
      font-weight: 500;
      text-align: left;
      margin: 0;
    }

    p{
      font-size: 11px;
      display: block;
      text-align: left;
      margin: 0;
      font-weight: 300;
    }
  }

  &.footer-claimed{
    background-color: rgba(154, 154, 154, 0.2);
    color: #9a9a9a;
  }

  &.footer-complete{
    background-color: rgba(134, 198, 82, 0.1);
    color: #86c652;

    button{
      margin: 0 0 0 50px;
      color: white;
      background-color: #86c652;
      border-color: #86c652;
    }
  }

  &.footer-redeemed{
    background-color: #86c652;
    color: white;
  }

  &.footer-failed{
    background-color: #a00000;
    color: white;
  }


  .checkbox{
    margin: 16px 15px 16px 80px;
    position: relative;
    top: -7px;

    @media(max-width: 460px){
      margin: 16px 15px 16px 30px;
    }


    label{
      font-size: 12px;
      color: #deeaee;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      user-select: none;
      max-width: 150px;
      text-align: left;
    }
  }


  .btn{
    background-color: $app-header-color;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11px;
    border-radius: 4px;
    margin: 16px 80px 16px 15px;
    font-family: "Open Sans", sans-serif;
    border: 2px solid $app-header-color;
    width: 140px;
    height: 38px;
    cursor: pointer;

    .material-icons{
      font-size: 18px;
      color: white;
      vertical-align: middle;
      padding-right: 6px;
      position: relative;
      top: -1px;
    }


    @media(max-width: 460px){
      margin: 16px 15px 16px 5px;
    }


    @-webkit-keyframes spin {
        0%   {-webkit-transform: rotate(0deg)}
        100% {-webkit-transform: rotate(360deg)}
    }

    &.processing{
      border-color: white;
      background-color: white;
      color: $app-header-color;
      cursor: progress;

      i{
        color: $app-header-color;
        transform-origin: 9px;
        -webkit-animation: spin 2s infinite linear;
      }
    }

    &.failed{
      border-color: white;
      background-color: #a00000;
      color: white;

      i{
        color: white;
      }
    }

    &.accepted{
      border-color: white;
      background-color: #86c652;
      color: white;

      i{
        color: white;
      }
    }
  }

  .btn[disabled]{
    opacity: 0.35;
  }
}


.regular-checkbox {
	-webkit-appearance: none;
	background-color: none;
	border: 2px solid #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative !important;
  top: 14px;
  left: -14px;
  outline: none;
  cursor: pointer;

  &:active, &:focus, &:checked:active {
  	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    outline: none;
  }

  &:checked{
    background-color: none;
  	border: 2px solid #afff;
  	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  	color: #fff;
    outline: none;

      &:after {
      	content: '\2714';
      	font-size: 14px;
      	position: absolute;
      	top: 0px;
      	left: 3px;
      	color: #fff;
      }
  }
}

button{
  outline: none;

  &:hover, &:focus, &:active{
    outline: none;
  }
}
