@import "../../style/variables";


.offers-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  padding: 0;
  max-width: 972px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.flex-basis{
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;

    @media(max-width: 768px){
      display: none;
    }
}

.mobile-basis{
  display: none;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 600px;

  @media(max-width: 694px){
    width: 278px;
  }




  .statbox{
    display: flex;
    flex-wrap: none;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
    margin: 0 auto;
    color: $app-dark-tone;
    background: white;
    padding: 20px 15px 15px;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 6px;
    border: 1px solid #ddd;
    width: 100%;

    @media(max-width: 693px){
      padding: 20px 5px 15px;
    }

    .stat{
      text-align: center;
      max-width: 80px;


      svg{
        margin-right: 0;
        margin-bottom: 8px;
      }

      h2, p{
        font-size: 18px;
        color: #86c652;

        span{
          font-size: 10px;


          span{
            color: #ef780a;
            margin-left: 5px;
          }
        }
      }
      p{
        font-size: 9px;
        max-width: 40px;
        margin: 6px auto;
        letter-spacing: 0.4px;
        color: $text-dark;
      }
    }
  }

  @media(max-width: 768px){
    display: block;
  }
}

.heading{
  text-align: center;
}

.statbox{
  padding: 20px;
  color: $app-dark-tone;
  box-shadow: 0 2px 9px 0 $app-background-color;
  border: solid 1px $app-background-color;
  border-radius: 6px;
  margin: 8px;
  width: 30%;
  background: white;
  position: relative;;




  svg{
    width: 55px;
    height: 55px;
    margin-right: 10px;
    margin-top: 10px;
  }


  .headlines{

    position: relative;
    top: -9px;
    display: inline-block;
    text-align: left;

    @media(max-width: 768px){
      text-align: center;
    }

    h2{
      font-family: $font-standard;
      font-size: 24px;
      margin-top: 5px;
      margin-bottom: 0;
    }

    p{
      opacity: 0.5;
      font-size: 11px;
      position: relative;
      top: -2px;
    }
  }
}


.details{
  display: flex;
  width: 100%;
  border-radius: 5px;
  border: solid 1px #e9eff4;
  margin: 15px 0px 10px;

  .detail{
    padding: 12px;
    width: 50%;

    h6{
      color: #ef780a;
      font-size: 18px;
      margin-bottom: 0;
      margin-top: 5px;
    }

    p{
      color: $text-dark;
      font-size: 11px;
      margin-bottom: 0;
      opacity: 0.8;
    }

    &:first-child{
      border-right: solid 1px #e9eff4;

      h6{
        color: #86c652;
      }
    }
  }
}

.modalInfo{
  position: absolute;
  top: -2px;
  right: -2px;
  cursor: pointer;

  @media(max-width: 768px){
    position: static;
    margin-top: -10px;
    margin-bottom: -60px;
  }

  i{
    color: #9b9b9b;
    font-size: 16px;
    padding: 10px;
  }
}
