@import "../../style/branding";
@import "../../style/rumpel-mixins";

.user-actions {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $hat-background-color;

  img {
    display: block;
    width: 60px;
    margin: 20px auto 0;
  }

  button {
    display: block;
    width: 250px;
  }

  .next-button {
    margin: 16px auto;
  }

  .previous-button {
    margin: 0 auto 25px;
  }
}
