/* You can add global styles to this file, and also import other style files */

body {
  font-size: 12px;
  font-family: "Open Sans Regular", sans-serif;
  min-width: 480px;
}

h1, h2, h3, h4, h5, h6,
.tile-header,
.section-title {
  font-family: "Open Sans Condensed", sans-serif;
}

/*@media (min-width: 768px) {
  body {
    font-size: 11px;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 13px;
  }
}*/

.popover {
  border-radius: 0;
  background-color: #B0BEC5;
}

.popover.left > .arrow,
.popover.left > .arrow:after {
  border-left-color: #B0BEC5;
}

.editor-toolbar {
  border-radius: 0;
  border: none;
  background-color: #393939;
}

.editor-toolbar .fa {
  color: white !important;
  border-radius: 0;
}

.editor-toolbar .fa:hover {
  background-color: transparent;
}

.CodeMirror {
  border: none;
  border-radius: 0;
}
