
@import "../../style/variables";


.fitbitTile{

  font-family: $font-standard;
  color: #878787;

  h4{
    font-size: 12px;
    font-weight: 400px;
    letter-spacing: 0.6px;
    margin-left: 0;
    margin-bottom: 15px;
    color: #878787;
  }

  .stat{

      font-size: 10px;
      font-weight: 300;
      padding-left: 26px;
      background-repeat: no-repeat;
      background-size: 12px 12px;
      background-position: 2px 0px;
      margin-right: -30px;

      span{
        font-style: italic;
      }

      &.steps{
        background-image: url('/assets/icons/fitbit-steps.svg');
      }

      &.heart{
        background-image: url('/assets/icons/fitbit-heart.svg');
      }

      &.sleep{
        background-image: url('/assets/icons/fitbit-sleep.svg');
      }
  }

}
