<div class="app-details" *ngIf="appDetails$ | async as app">
  <div class="app-details-header">
    <mat-toolbar class="app-details-header-toolbar">
      <span class="flex-spacer"></span>
      <mat-icon [matMenuTriggerFor]="moreActionsMenu" class="app-details-close" *ngIf="app.setup">more_horiz</mat-icon>
      <mat-icon (click)="closeComponentView()" class="app-details-close" *ngIf="!app.setup">clear</mat-icon>
    </mat-toolbar>

    <mat-card class="app-details-header-card">
      <div class="app-logo-wrapper">
        <img [src]="app.application.info.graphics.logo.normal" height="100" class="img img-responsive app-logo" />
      </div>
      <div class="app-rating-wrapper">
        <div class="app-rating">
          <span class="app-rating-highlighted">{{app.application.info.rating.score}}</span>
          <!--<span class="app-rating-italicized">rated</span>-->
        </div>
      </div>
      <h3 class="app-details-header-title">{{app.application.info.name}}</h3>

      <a mat-button [ngClass]="['app-details-status', appStatus]"
         [href]="generateHatLoginLink(app.application.id, app.application.setup)"
         [ngSwitch]="appStatus">
        <ng-container *ngSwitchCase="'goto'"><mat-icon>exit_to_app</mat-icon>Go to app</ng-container>
        <ng-container *ngSwitchCase="'running'"><mat-icon>check_circle</mat-icon>Active</ng-container>
        <ng-container *ngSwitchCase="'fetching'"><mat-icon>sync</mat-icon>Fetching...</ng-container>
        <ng-container *ngSwitchCase="'failing'"><mat-icon>sync_problem</mat-icon>Reconnect</ng-container>
        <ng-container *ngSwitchCase="'untouched'"><mat-icon>add_circle_outline</mat-icon>Connect</ng-container>
      </a>

      <div class="app-details-header-headline">
        This app is rated {{app.application.info.rating.score}}
      </div>
      <a href="https://www.hatcommunity.org/hat-dex-rating" target="_blank" class="app-link">Learn more</a>

      <div class="app-details-error" *ngIf="appStatus === 'failing'">
        App disconnected. Please click reconnect to re-establish connection.
      </div>
    </mat-card>
  </div>

  <div class="app-details-content">
    <mat-tab-group class="app-details-tab-group">
      <mat-tab label="App Info">
        <mat-card class="app-details-general">
          <mat-card-content>
            <h5 class="app-details-heading">Description</h5>
            <div class="app-details-description">{{ app.application.info.description.text }}</div>
          </mat-card-content>
        </mat-card>

        <mat-card class="app-details-general"
                  *ngIf="app.application.info.graphics.screenshots && app.application.info.graphics.screenshots.length > 0">
          <mat-card-content>
            <h5 class="app-details-heading">Screenshots</h5>
            <div class="app-details-screenshots">
              <div class="img-wrapper" *ngFor="let screenshot of app.application.info.graphics.screenshots">
                <img src="{{screenshot.normal}}" class="img img-responsive" />
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <rum-list-card *ngIf="appInformation"
                       [title]="'Information'"
                       [listData]="appInformation"
                       [expandable]="true"></rum-list-card>
      </mat-tab>

      <mat-tab label="Data Preview">
        <ng-container *ngIf="staticData$ | async as staticData">
          <div  *ngIf="staticData[0]" style="margin-bottom: 60px;">
            <rum-list-card [title]="'Profile information'" [listData]="staticData[0]"></rum-list-card>
          </div>
        </ng-container>

        <ng-container *ngIf="dataPreview$ | async as dataPreview">
          <ng-container *ngIf="dataPreview.length > 0; else noPreview">
            <ng-container *ngFor="let dataSample of dataPreview">
              <rum-she-feed-item class="card-wrapper" [feedItem]="dataSample"></rum-she-feed-item>
            </ng-container>
          </ng-container>
        </ng-container>

        <ng-template #noPreview>
          <ng-container *ngIf="staticData$ | async as staticData">
            <ng-container *ngIf="staticData.length === 0">
              <div class="no-data-icon">
                <mat-icon>cloud_queue</mat-icon>
              </div>

              <div class="no-data-message">
                No data available
              </div>

              <ng-container *ngIf="app.application.kind.kind === 'DataPlug'">
                <div class="no-data-press-connect">
                  Press the ‘Connect’ button to get started!
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>

  <mat-menu #moreActionsMenu="matMenu">
    <a mat-menu-item class="actions-menu-item" [routerLink]="['permissions']">
      <mat-icon>phonelink_lock</mat-icon>App permissions
    </a>
    <button mat-menu-item class="actions-menu-item" (click)="disableApp(app.application.id)">
      <mat-icon>link_off</mat-icon>Disable app
    </button>
    <button mat-menu-item class="actions-menu-item">Cancel</button>
  </mat-menu>
</div>
