<div class="app-details" *ngIf="appDetails$ | async as app">
  <div class="app-details-header">
    <mat-toolbar class="app-details-header-toolbar">
      <span class="flex-spacer"></span>
      <mat-icon class="app-details-close" (click)="closeComponentView()">clear</mat-icon>
    </mat-toolbar>

    <mat-card class="app-details-header-card">
      <div class="app-logo-wrapper">
        <img [src]="app.application.info.graphics.logo.normal" height="100" class="img img-responsive app-logo" />
      </div>
      <h3 class="app-details-header-title">{{app.application.info.name}}</h3>
      <div class="app-details-header-headline">{{app.application.info.headline}}</div>
      <ng-container *ngIf="!app.setup || app.needsUpdating else appActivityButtons">
        <a mat-button class="require-setup" href="{{app.application.kind.url}}">
          <mat-icon>add_circle_outline</mat-icon>Connect app</a>
      </ng-container>

      <ng-template #appActivityButtons>
        <a mat-button [class.require-setup]="!app.active" href="{{app.application.kind.url}}">
          <mat-icon>{{app.active ? 'input' : 'report_problem'}}</mat-icon>
          {{ app.active ? 'Go to app' : 'Reconnect app' }}</a>
      </ng-template>
    </mat-card>
  </div>

  <div class="app-details-content">
    <mat-tab-group class="app-details-tab-group">
      <mat-tab label="App Info">
        <mat-card class="app-details-general">
          <mat-card-content>
            <h5 class="app-details-heading">Description</h5>
            <p class="app-details-description">{{app.application.info.description.text}}</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="app-details-general"
                  *ngIf="app.application.info.graphics.screenshots && app.application.info.graphics.screenshots.length > 0">
          <mat-card-content>
            <h5 class="app-details-heading">Screenshots</h5>
            <div class="app-details-screenshots">
              <div class="img-wrapper" *ngFor="let screenshot of app.application.info.graphics.screenshots">
                <img src="{{screenshot.normal}}" class="img img-responsive" />
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>

      <mat-tab label="Data Preview">
        <ng-container *ngFor="let dataSample of app.application.info.dataPreview">
          <rum-she-feed-item class="card-wrapper" [feedItem]="dataSample"></rum-she-feed-item>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
