@import "../../style/branding";
@import "../../style/rumpel-mixins";

.app-details-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 125px;
  position: relative;
  height: 234px;
  width: 100%;
  background-size: contain;
  background-image: url('/assets/images/piggy.jpg');
  background-repeat: no-repeat;
  background-color: #2b313d;
  // background-position: 100% 100%;

  &:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .2);
  }

  .app-details-header-toolbar {
    background-color: transparent;
    display: flex;
    align-self: flex-start;
    z-index: 1;

    .flex-spacer {
      flex-grow: 1;
    }

    .app-details-close {
      color: white;
      cursor: pointer;
    }
  }

  .app-details-header-card {
    margin-bottom: -125px;
    padding: 0 2em;
    border-radius: 4px;
    width: 95%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .app-logo-wrapper {
      margin-top: -50px;
      border: 6px solid white;
      border-radius: 50%;

      .app-logo {
        height: 100px;
        width: 100px;
        border-radius: 50%;
      }
    }

    .app-details-header-title {
      font-size: 24px;
      font-weight: bold;
      color: $app-dark-tone;
    }

    .app-details-header-headline {
      margin: 0 30px 30px 30px;
      font-size: 13px;
      color: $hat-body-text;
      line-height: 1.38;
    }

    .mat-button {
      border: 1px solid $app-accent-color;
      text-decoration: none;
      margin-bottom: 30px;
      padding: 5px 20px;
      border-radius: 4px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      color: white;

      &.require-setup {
        /deep/ .mat-button-wrapper {
          color: $app-accent-color;
        }
      }

      &:not(.require-setup) {
        background-color: $app-accent-color;
      }

      .mat-icon {
        margin-right: 15px;
      }
    }
  }
}

.app-details-content {
  padding: 0 12px;

  .card-wrapper {
    margin: 15px auto;
    max-width: 500px;
    display: flex;

    .img-wrapper img {
      margin-top: 5px;
      border-radius: 50%;
    }

    .mat-card {
      flex: 1 1;
      margin: 0;
      margin-left: 15px;
      overflow-wrap: break-word;
      word-wrap: break-word;

      .arrow-left {
        position: absolute;
        top: 17px;
        left: -6px;
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;

        border-right: 6px solid white;
      }
    }
  }

  .mat-card {
    margin: 15px auto;
    max-width: 500px;
    box-shadow: none;
    border-radius: 4px;

    &.app-details-general {
      max-width: 900px;
    }

    &:not(.app-details-general) {
      padding: 0;
      max-width: 450px;

      /deep/ .mat-card-header-text {
        margin: 0;
      }

      .mat-card-header {
        padding: 5px 15px;

        .card-header-title {
          font-size: 14px;
          color: $app-dark-tone-lighter;
          margin-top: 10px;
          margin-bottom: 8px;
        }
      }

      .mat-card-content {
        margin: 0;
        padding: 20px 15px;
        font-size: 13px;
        color: $hat-body-text;
        line-height: 1.54;
      }

      .mat-card-footer {
        margin: 0;
        padding: 0 0 10px 15px;
        font-size: 13px;
        color: $hat-body-text;
        font-style: italic;
      }
    }

    .mat-card-header {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $hat-background-color;
    }

    .card-header-action {
      font-style: italic;
      text-transform: capitalize;
      font-size: 13px;
      color: $hat-body-text;
    }
  }

  .app-details-heading {
    font-weight: bold;
    color: $app-dark-tone;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .app-details-description {
    color: $hat-body-text;
    font-size: 13px;
    line-height: 1.54;
  }

  .app-details-screenshots {
    margin: 30px 0;
    height: 600px;
    overflow-x: auto;

    .img-wrapper {
      display: inline;
      white-space: nowrap;

      &:not(:first-child):not(:last-child) {
        margin: 0 10px;
      }

      img {
        display: inline;
        height: 100%;
      }
    }
  }
}

/deep/ .mat-tab-header {
  width: intrinsic;
  margin: 30px auto;
  border-bottom: none;

  .mat-tab-labels {
    justify-content: center;

    .mat-tab-label {
      opacity: .5;
      padding: 0 4px;

      &:not(.mat-tab-disabled):focus {
        background-color: transparent;
      }

      .mat-tab-label-content {
        text-transform: uppercase;
        font-size: 12px;
      }
    }

    .mat-tab-label-active {
      opacity: .8;

      .mat-tab-label-content {
        color: $app-dark-tone;
        font-weight: bold;
        font-size: 13px;
      }
    }
  }
}
