@import "style";

.tile-body {
  padding: 0.5em 1em;
}

.tile-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tile-body li {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.25em;
    padding-top: 0;
    font-size: 1.1em;
  }

  p {
    font-size: 0.8em;
  }
}

.col-xs-2, .col-xs-8 {
  margin: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;

  a {
    color: #ffffff;
    text-decoration: none;

    span {
      font-size: 1.5em;
    }
  }
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > .col-xs-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}


