.tile-body {
  padding: 0.5em 1em;
  line-height: default;
  font-size: 1.2em;
}

.tile-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tile-body li {
  margin: 0.5em 0;
}

.tile-body p {
  margin-bottom: 0;
  display: block;
}

.tile-body div p {
  margin-left: 0.5em;
}

.col-xs-9 {
  padding-left: 0;
  padding-right: 0;
}
.col-xs-1,
.col-xs-2 {
  padding-left: 0.25em;
  padding-right: 0.25em;
  text-align: center;
}
.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > .col-xs-9,
.vertical-align > .col-xs-1 {
  display: flex;
  align-items: center;
}

.pre-field {
  font-size: 1.5em;
}
.privacy-color {
  color: #42B4F5;
}

.private-entry {
  color: #555555;
}