@import "variables";

ul {
  list-style: none;
  padding: 0;
  li {
    position: relative;
    text-align: center;
    width: 7em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    span {
      font-size: 2em;
      display: block;
    }

    a {
      color: $text-white;
      text-decoration: none;
    }

    &.selected {
      background: $base-grey;
    }

    &:hover {
      background-color: $base-grey;
    }
  }
}

.disable {
  position: absolute;
  text-transform: uppercase;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 50;

  .text {
    margin-top: 2em;
  }
}