<div class="flex-basis">
  <img *ngIf="item.data.content && item.data.content.fullPicture" [src]="item.data.content.fullPicture" onerror="this.style.display='none'">
  <div>
    <span class="meta heading" *ngIf="item.data.content && item.data.story">{{ item.data.story }}</span>
    <a *ngIf="item.data.content && item.data.content.link" [href]="item.data.content.link" target="_blank">{{ item.data.content.name }}</a>
    <p *ngIf="item.data.content && item.data.content.message">{{ item.data.content.message }}</p>
    <p *ngIf="item.data.content && item.data.content.description">{{ item.data.content.description }}</p>
    <p *ngIf="item.data.content && item.data.content.caption">{{ item.data.content.caption }}</p>
  </div>
</div>

<div class="flex-basis start">
    <span *ngIf="item.data.createdTime" class="meta"><strong>Created</strong><span class="date">{{ item.data.createdTime | moment:'ddd DD MMM YYYY, h:mm a' }}</span></span>
    <span *ngIf="item.data.updatedTime" class="meta"><strong>Updated</strong><span class="date">{{ item.data.updatedTime | moment:'ddd DD MMM YYYY, h:mm a' }}</span></span>
    <span *ngIf="item.data.statusType" class="meta"><strong>Status type</strong> {{ item.data.statusType }}</span>
    <span *ngIf="item.data.type" class="meta"><strong>Type</strong> {{ item.data.type }}</span>
    <span *ngIf="item.data.from" class="meta"><strong>From</strong> {{ item.data.from }}</span>
    <span *ngIf="item.data.application" class="meta"><strong>Application</strong> {{ item.data.application }}</span>
    <span *ngIf="item.data.privacy" class="meta"><strong>Privacy</strong> {{ item.data.privacy.description }}, {{ item.data.privacy.value }}</span>
    <span *ngIf="item.data.id" class="meta"><strong>ID</strong> {{ item.data.id }}</span>
</div>
