<!--<div class="app-details-header">-->
  <!--&lt;!&ndash;<mat-toolbar class="app-details-header-toolbar">&ndash;&gt;-->
    <!--&lt;!&ndash;<button mat-icon-button matTooltip="Upload new profile photo" [matTooltipPosition]="'below'"&ndash;&gt;-->
            <!--&lt;!&ndash;(click)="invokeFileUploadDialog()" class="app-details-header-toolbar-button">&ndash;&gt;-->
      <!--&lt;!&ndash;<mat-icon>file_upload</mat-icon>&ndash;&gt;-->
    <!--&lt;!&ndash;</button>&ndash;&gt;-->
    <!--&lt;!&ndash;<button mat-icon-button matTooltip="Toggle profile photo privacy" [matTooltipPosition]="'below'"&ndash;&gt;-->
            <!--&lt;!&ndash;(click)="share.photo.avatar = !share.photo.avatar" class="app-details-header-toolbar-button">&ndash;&gt;-->
      <!--&lt;!&ndash;<mat-icon>{{ share.photo.avatar ? 'lock_open' : 'lock_outline' }}</mat-icon>&ndash;&gt;-->
    <!--&lt;!&ndash;</button>&ndash;&gt;-->
    <!--&lt;!&ndash;<button mat-icon-button matTooltip="Save form" [matTooltipPosition]="'below'" (click)="submitForm()"&ndash;&gt;-->
            <!--&lt;!&ndash;class="app-details-header-toolbar-button">&ndash;&gt;-->
      <!--&lt;!&ndash;<mat-icon>save</mat-icon>&ndash;&gt;-->
    <!--&lt;!&ndash;</button>&ndash;&gt;-->
  <!--&lt;!&ndash;</mat-toolbar>&ndash;&gt;-->
  <!--<span class="flex-spacer"></span>-->
  <!--<mat-card class="app-details-header-card">-->
    <!--<div class="app-logo-wrapper" matTooltip="Upload new profile photo">-->
      <!--<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"-->
           <!--width="100px" height="100px" viewBox="2 2 20 20" enable-background="new 2 2 20 20" xml:space="preserve">-->
          <!--<path d="M12,2C6.48,2,2,6.48,2,12c0,5.52,4.48,10,10,10c5.52,0,10-4.48,10-10C22,6.48,17.52,2,12,2z M12,5c1.66,0,3,1.34,3,3s-1.34,3-3,3S9,9.66,9,8S10.34,5,12,5z M12,19.2c-2.5,0-4.71-1.28-6-3.22c0.03-1.99,4-3.08,6-3.08c1.99,0,5.971,1.09,6,3.08C16.71,17.92,14.5,19.2,12,19.2z"-->
                <!--fill="#CCCCCC" />-->
        <!--<path fill="none" d="M0,0h24v24H0V0z" />-->
      <!--</svg>-->

      <!--&lt;!&ndash;<img *ngIf="values?.photo.avatar" src="{{values.photo.avatar | presignImgUrl | async}}"&ndash;&gt;-->
           <!--&lt;!&ndash;height="100"&ndash;&gt;-->
           <!--&lt;!&ndash;class="img img-responsive app-logo">&ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash;<h3 class="app-details-header-title">{{hatDomain.split('.')[0]}}</h3>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="app-details-header-headline">{{hatDomain.slice(hatDomain.indexOf('.'))}}</div>&ndash;&gt;-->
    <!--<h3 class="app-details-header-title">testing</h3>-->
    <!--<div class="app-details-header-headline">.hubat.net</div>-->

    <!--&lt;!&ndash;<mat-progress-bar mode="determinate" value="43"></mat-progress-bar>&ndash;&gt;-->

    <!--<div class="progress-bar">-->
      <!--// TODO progress bar-->
    <!--</div>-->
  <!--</mat-card>-->
<!--</div>-->
